
        <figcaption><a href=/creative_index/photo_print_paint/found>F.1XXX – F.1401</a>&nbsp;| 
        <a href=/creative_index/photo_print_paint/found/1400>F.1400 – F.1201</a>&nbsp;| 
        <a href=/creative_index/photo_print_paint/found/1200>F.1200 – F.1001</a>&nbsp;| 
        <a href=/creative_index/photo_print_paint/found/1000>F.1000 – F.0801</a>&nbsp;| 
        <a href=/creative_index/photo_print_paint/found/0800>F.0800 – F.0601</a>&nbsp;| 
        <a href=/creative_index/photo_print_paint/found/0600>F.0600 – F.0401</a>&nbsp;|
        <a href=/creative_index/photo_print_paint/found/0400>F.0400 – F.0201</a>&nbsp;| 
        <a href=/creative_index/photo_print_paint/found/0200>F.0200 – F.0001</a></figcaption>