<ul class="post-metadata">
  <li><active-breadcrumb>» Art + Photography /</active-breadcrumb></li>
  <li><a href="#photography">Photography</a></li> / 
  <li><a href="#paintings">Paintings</a></li> / 
  <li><a href="#prints">Prints</a></li> / 
  <li><a href="#top">Return to Top</a></li>
</ul>