<div class="row">
  <div class="col">
    <h3>Miscellany</h3>
    <p>Various designed things that don't really fall into another category. </p>
  </div>
  <div class="col">
      {% _image "al_goddamn_3.png", "t-shirt with image of a uterus with text alabama goddamn overlaying it" %}
      <figcaption>[ coming soon ]</figcaption>
    </div>
  <div class="col">
      {% _image "bma_nudes_2.png", "t-shirt with illustration of nudes in the bma collection" %}
      <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
      {% _image "obama.png", "placeholding image" %}
      <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
      {% _image "bison_tshirt.png", "tshirt with a bison illustration" %}
      <figcaption>[ coming soon ]</figcaption>
    </div>
</div>
