<div class="row">
        <div class="col">
        <h3>Vox Humana</h3>
        <p>Paintings of the faces of workers at Sloss Furnaces. These images were photographed from didactic panels at the site, printed as linocuts, then painted in acrylic on canvas.</p>
        </div>
        <div class="col">
        {%_image "humana_1.jpg", "abstract painting" %}
        </div>
        <div class="col">
        {%_image "humana_2.jpg", "abstract painting" %}
        </div> 
        <div class="col">
        {%_image "humana_3.jpg", "abstract painting" %}
        </div> 
        <div class="col"></div>
</div>