<div class="row">
    <div class="col">
        <h3>Deus Ex Machina</h3>
        <p>Paintings of Sloss Furnaces, an open-air industrial museum in Birmingham, Alabama. Each painting is base on a linocut print which in turn was based on personal photography at the site.</p>
    </div>
      <div class="col">
        {%_image "machina_1.jpg", "abstract painting" %}
      </div>
      <div class="col">
        {%_image "machina_2.jpg", "abstract painting" %}
      </div> 
      <div class="col">
        {%_image "machina_3.jpg", "abstract painting" %}
      </div> 
      <div class="col">
        {%_image "machina_4.jpg", "abstract painting" %}
      </div>
  </div><div class="row">
        <div class="col"></div> 
        <div class="col">
            {%_image "machina_5.jpg", "abstract painting" %}
        </div> 
        <div class="col"></div> 
        <div class="col"></div> 
        <div class="col"></div> 
  </div>