  <div class="row">
    <div class="col">
        <h3>Signs</h3>
        <p>Street scenes of a sort. Parking structures, geometry, street signs highlighted.</p>
    </div>
      <div class="col">
        <a href=/art/paintings/2022_end_one_way>{%_image "end_one_way.jpg", "abstract painting" %}</a>
        <figcaption>End One Way</figcaption>
      </div>
      <div class="col">
        {%_image "chicago.jpg", "abstract painting" %}
        <figcaption>Chicago</figcaption>
      </div> 
      <div class="col">
        {%_image "freeway.jpg", "abstract painting" %}
        <figcaption>Freeway</figcaption>
      </div> 
      <div class="col">
        {%_image "ground_floor.jpg", "abstract painting" %}
        <figcaption>Ground Floor</figcaption>
      </div>
   </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            {%_image "exit_only.jpg", "abstract painting" %}
            <figcaption>No Parking</figcaption>
        </div> 
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>