@font-face {	
	font-family: PlexMono;
	src: url(/fonts/IBMPlexMono-Regular.ttf);
}

@font-face {
	font-family: PublicSans;
	src: url(/fonts/PublicSans[wght].ttf);
}

@font-face {
	font-family: Barlow;
	src: url(/fonts/Barlow-Medium.ttf);
}

/* Defaults */
:root {
	--font-family: PublicSans, -apple-system, system-ui, sans-serif;
	--font-family-monospace: PlexMono, Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
	--font-family-special: Barlow, -apple-system, system-ui, sans-serif;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-80: #505050;
	--color-gray-90: #333;

	--background-color:rgb(20, 20, 20);
	--transparent-bg:rgb(20, 20, 20, 0.75);

	--text-color: var(--color-gray-20);
	--text-color-link: #e0e0e0;
	--text-color-link-active: rgb(255, 115, 0);
	--text-color-link-visited: #e0e0e0;

	--syntax-tab-size: 2;

	--grid-maxWidth: 120rem;
	--grid-gutter: 3rem;  
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}
body {
	margin: 0;
	position: relative;
/*	min-height: 100vh;
    display: flex;
    flex-direction: column;*/
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	overflow: hidden;
  }

/* Chota grid */
.container {max-width: var(--grid-maxWidth); margin: 0 auto; width: 100%; padding: 0 calc(var(--grid-gutter) / 2);}
.row {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; margin-left: calc(var(--grid-gutter) / -2); margin-right: calc(var(--grid-gutter) / -2); margin-top: 1rem; margin-bottom: 1.5rem;}
.row.reverse {-webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse;}
.col {-webkit-box-flex: 1; -ms-flex: 1; flex: 1;}
.col, [class*=" col-"], [class^='col-'] {margin: 0 calc(var(--grid-gutter) / 2) calc(var(--grid-gutter) / 2);}
.col-1 {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter)); max-width: calc((100% / (12/1)) - var(--grid-gutter));}
.col-2 {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter)); max-width: calc((100% / (12/2)) - var(--grid-gutter));}
.col-3 {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter)); max-width: calc((100% / (12/3)) - var(--grid-gutter));}
.col-4 {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter)); max-width: calc((100% / (12/4)) - var(--grid-gutter));}
.col-5 {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter)); max-width: calc((100% / (12/5)) - var(--grid-gutter));}
.col-6 {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter)); max-width: calc((100% / (12/6)) - var(--grid-gutter));}
.col-7 {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter)); max-width: calc((100% / (12/7)) - var(--grid-gutter));}
.col-8 {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter)); max-width: calc((100% / (12/8)) - var(--grid-gutter));}
.col-9 {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter)); max-width: calc((100% / (12/9)) - var(--grid-gutter));}
.col-10 {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter)); max-width: calc((100% / (12/10)) - var(--grid-gutter));}
.col-11 {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter)); max-width: calc((100% / (12/11)) - var(--grid-gutter));}
.col-12 {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter)); max-width: calc((100% / (12/12)) - var(--grid-gutter));}
@media screen and (max-width: 599px) {.container {width: 100%;}.col, [class*="col-"], [class^='col-'] {-webkit-box-flex: 0; -ms-flex: 0 1 100%; flex: 0 1 100%; max-width: 100%;}}
@media screen and (min-width: 900px) {
.col-1-md {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter)); max-width: calc((100% / (12/1)) - var(--grid-gutter));}
.col-2-md {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter)); max-width: calc((100% / (12/2)) - var(--grid-gutter));}
.col-3-md {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter)); max-width: calc((100% / (12/3)) - var(--grid-gutter));}
.col-4-md {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter)); max-width: calc((100% / (12/4)) - var(--grid-gutter));}
.col-5-md {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter)); max-width: calc((100% / (12/5)) - var(--grid-gutter));}
.col-6-md {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter)); max-width: calc((100% / (12/6)) - var(--grid-gutter));}
.col-7-md {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter)); max-width: calc((100% / (12/7)) - var(--grid-gutter));}
.col-8-md {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter)); max-width: calc((100% / (12/8)) - var(--grid-gutter));}
.col-9-md {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter)); max-width: calc((100% / (12/9)) - var(--grid-gutter));}
.col-10-md {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter)); max-width: calc((100% / (12/10)) - var(--grid-gutter));}
.col-11-md {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter)); max-width: calc((100% / (12/11)) - var(--grid-gutter));}
.col-12-md {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter)); max-width: calc((100% / (12/12)) - var(--grid-gutter));}
}
@media screen and (min-width: 1200px) {
.col-1-lg { -webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter));flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter));max-width: calc((100% / (12/1)) - var(--grid-gutter));}
.col-2-lg {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter)); max-width: calc((100% / (12/2)) - var(--grid-gutter));}
.col-3-lg {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter)); max-width: calc((100% / (12/3)) - var(--grid-gutter));}
.col-4-lg {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter)); max-width: calc((100% / (12/4)) - var(--grid-gutter));}
.col-5-lg {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter)); max-width: calc((100% / (12/5)) - var(--grid-gutter));}
.col-6-lg {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter)); max-width: calc((100% / (12/6)) - var(--grid-gutter));}
.col-7-lg {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter)); max-width: calc((100% / (12/7)) - var(--grid-gutter));}
.col-8-lg {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter)); max-width: calc((100% / (12/8)) - var(--grid-gutter));}
.col-9-lg {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter)); max-width: calc((100% / (12/9)) - var(--grid-gutter));}
.col-10-lg {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter)); max-width: calc((100% / (12/10)) - var(--grid-gutter));}
.col-11-lg {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter)); max-width: calc((100% / (12/11)) - var(--grid-gutter));}
.col-12-lg {-webkit-box-flex: 0; -ms-flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter)); flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter)); max-width: calc((100% / (12/12)) - var(--grid-gutter));}
}
/* end Chota grid */

/* vertical spacer */
.tiny_spacer {height: .5rem;}
.spacer {height: 3rem;}
.spacer-sm {height: auto;} @media screen and (min-width: 600px) {.spacer-sm {height: 6rem;}} @media screen and (min-width: 1200px) {.spacer-sm {height: 12rem;}}
.spacer-md {height: auto;} @media screen and (min-width: 600px) {.spacer-md {height: 12rem;}} @media screen and (min-width: 1200px) {.spacer-md {height: 18rem;}}
.spacer-lg {height: auto;} @media screen and (min-width: 600px) {.spacer-lg {height: 18rem;}} @media screen and (min-width: 1200px) {.spacer-lg {height: 24rem;}}
/* end spacer */

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
}

special {
	font-family: var(--font-family-special);
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1;
}

p:last-child { 
	margin-bottom: 0;
}
p {
	font-size: .85em;
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}

a[href]:visited {
	color: var(--text-color-link-visited);
}

a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main {
	/*padding: 1rem;*/
}
main :first-child {
	margin-top: 0;
}

figcaption {
	padding-top: 1em;
	padding-bottom: 1.5em;
	font-family: var(--font-family-monospace);
	font-size: .75em;
	line-height: 1.35;
}

right {
	text-align: right;
}

footer {
/*	border-top: 1px dashed var(--color-gray-80);*/
	margin-top: auto;
	padding: 2rem 1rem 1rem 1rem;
	font-family: var(--font-family-monospace);
	font-size: .75rem;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* Header */

/*header{top:0;}
.breadcrumb {top:3rem;}
*/

.logo {
	float:right;
	display: flex;
	flex-wrap: wrap;
	padding: 1.5rem 1.25rem 1.25rem 0;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top:0; 
	z-index: 3;
	margin-left: -3rem;
	}
	
.logo img {
	max-height: 1.25rem;
	width: auto;
	display: block;
	border-style: none;
	overflow: hidden;
	}
		
header, .breadcrumb {
	align-items: center;
	z-index: 2;
	padding: 1rem;
	margin-right: -5rem;
	min-height: 4rem;
	display: flex;
	gap: 1em 1em;
	flex-wrap: wrap;
	justify-content: space-between;;
/*	border-bottom: 1px dashed var(--color-gray-80);*/
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	width: 100%;
	background-color: var(--background-color);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
/*	float: left;*/
}

header{
	float: left;
}

.breadcrumb {
/*	border-bottom: 1px dashed var(--color-gray-80);*/
	}

.home-link {
	font-family: var(--font-family-monospace);
	font-size: .75em;
/*	font-weight: 700;*/
	margin-right: -1em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

 header:after, .breadcrumb:after {
	content: "";
	display: table;
	clear: both;
}

/* Nav */
.nav, .links-nextprev {
/*	display: flex;*/
	padding: 0;
	margin: 0;
	margin-top: .5em;
	list-style: none;
	font-family: var(--font-family-monospace);
	font-size: .75em;
/*	min-height: 2.25em;*/
/*	background-color: var(--background-color);*/
}

.links-nextprev {
	display: inline-flex;
	flex-wrap: wrap;
	margin-top: .5em;
}

.links-nextprev li{
	padding: 0 1rem 0 0;
	margin-left: .5rem;
}
.links-nextprev li	a {
	text-decoration: none;
	}

header .nav {
	width:100%
	}

.breadcrumb .nav, .links-nextprev {width: 75%;}

.nav-item {
/*	font-family: var(--font-family-monospace);
	font-size: .75em;*/
	display: inline-block;
	margin-left: .5em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}

.nav-item a {
	text-decoration: none;
}

.nav a[href][aria-current="page"] {
	text-decoration: none;
	color:	var(--text-color-link-active);
}

active-breadcrumb {
	text-decoration: none;
	color:	var(--text-color-link-active);
}

/*dropdown menu*/

.dropdown {
	padding: 0;
	margin: 0;
	position: relative;
	display: inline-block;
	font-family: var(--font-family-monospace);
	font-size: .75em;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--background-color);
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 3;
  }

.dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	right: 0;
  }

.dropdown-content a:hover {}

.dropdown:hover .dropdown-content {
	display: block;
  }
  
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dashed var(--color-gray-80);
    margin-top: 1em;
	margin-bottom: 1em;
    padding: 0;
}
/* Posts list */
.postlist {
	list-style: none;
	padding: 0 1.5rem 0 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	/*content: "" counter(start-from, decimal-leading-zero) ". ";*/
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.75em;	
}

.postlist-link {
	font-size: 1rem;
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
/*	padding-left: .25em;*/
	padding-right: .5em;
	text-decoration: none;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

.postlist-description {
	margin-left: 1em;
	padding-bottom: 1.5em;
	font-family: var(--font-family-monospace);
	font-size: .75em;
	}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
/*	font-style: italic;*/
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata, .post-breadcrumb {
	font-family: var(--font-family-monospace);
	font-size: .75rem;
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}

.post-metadata a, .post-breadcrumb a {
	text-decoration: none;	
}

time {
	font-family: var(--font-family-monospace);
	font-size: .75rem;
	}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: none;
}

a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

center{
	align-items: center;
	background-color: #e0e0e0;
}

img {
	height: auto;
	width: 100%;
	display: block;
	border-style: none;
	overflow: hidden;
}

a img{
	opacity: 1;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

a img:hover{
	opacity: .5;
}


/*
a img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

a img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
*/

picture, figure {
	height:auto;
	max-width: 100%;
	display: block;
	border-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}


@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
	}
	
	div#slider { 		
		overflow: hidden;
		margin-bottom: 2rem; 
		border-bottom: 1px dashed var(--color-gray-80);
/*		position: -webkit-sticky; /* Safari */
/*		position: sticky;
		top: 0;
		z-index: 0;*/
	}
	div#slider figure { 
		position: relative;
		width: 500%;
		margin: 0;
		left: 0;
		text-align: left;
		font-size: 0;
		animation: 30s slidy infinite; 
	}
	div#slider figure img { width: 20%; float: left; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 , footer a, header a, figcaption a {
	text-decoration: none;
}