---
layout: layouts/base.njk

---

<div class="container">
<div class="row"></div>
<div class="row">
    <div class="col-12 col-12-md col-12-lg"></div>
</div>
<div class="row"><div class="spacer-sm"></div>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
</div>
