---
layout: layouts/home.njk
eleventyNavigation:
  key: 
  order: 1
---

<div id="slider">
  <figure>
    <a href=/design/books/2021_clare_leighton><img src="./img/io_slide_1.jpg" alt></a>
    <a href=/art/photography/travel/2023_montevideo/><img src="./img/io_slide_2.jpg" alt></a>
    <a href=/design/books/2018_cargo_catalog/><img src="./img/io_slide_3.jpg" alt></a>
    <a href=/art/photography/travel/2023_montevideo/><img src="./img/io_slide_4.jpg" alt></a>
    <a href=/design/books/2021_clare_leighton><img src="./img/io_slide_1.jpg" alt></a>
  </figure>
</div>
<div class="container">  
  <div class="row"></div> 
  <hr>
  <div class="row"></div>
  {%include "partials/about_brief.njk" %}
  <div class="row"></div>
</div>