---
layout: layouts/home.njk
eleventyNavigation:
  key: 
  order: 1
---

<div id="slider">
  <figure>
    <img src="./img/io_slide_1.jpg" alt>
    <img src="./img/io_slide_2.jpg" alt>
    <img src="./img/io_slide_3.jpg" alt>
    <img src="./img/io_slide_4.jpg" alt>
    <img src="./img/io_slide_1.jpg" alt>
  </figure>
</div>

<div class="container">  
  <div class="row">
    <div class="col">
      <h1>I am James Williams, </br> a designer</h1>
    </div>
    <div class="col"></div>
    <div class="col">
      <p>Current role: Director of Design and Technology at the Birmingham Museum of Art. There I design all the things and manage digital media and IT.</p> 
      <p>I also make prints, paintings, and photographs.</P>
    </div>
    <div class="col">
      <P>This site is the archive of all these things and portfolio of my design work. It is also a major work in progress and experiment of sorts. It would have been easier to set up SquareSpace, Cargo Collective, or some other turnkey solution. But I'd rather learn something new, tinker, and have fun* building something of my own.</p> 
      <p>Current roadmap: upload more work, implement breadcrumbs, build out section pages. </p>
      <hr>
      <figcaption>*incredible frustration and annoyance punctuated by moments of joy in making something from nothing.</figcaption>
    </div> 
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h3>Recent Highlights</h3>
      <p>Things recently completed, whether design, photography, or otherwise.</p>
    </div>
    <div class="col">
      <a href=/design/books/2021_clare_leighton>{% _image "cl_00.jpg", "_image of a book cover" %}</a>
      <figcaption>Clare Leighton Exhibition Catalog</figcaption>
    </div>
    <div class="col">
      <a href=/design/posters/2018_rushton>{% _image "rushton_2022.jpg", "poster design with a piano player in the lower left corner, text in the upper right" %}</a>
      <figcaption>Rushton Concert Marketing Campaign</figcaption>
      </br>
    </div> 
    <div class="col">
      <a href=/art/photography/2023_detroit>{% _image "detroit_5.jpg", "grand hall in a museum with dramatic lighting in black and white" %}</a>
      <figcaption>Detroit Travel Photography</figcaption>
    </div> 
  </div> 
</div>