---
layout: layouts/home.njk
eleventyNavigation:
  key: 
  order: 1
---

<div class="container">
  <div class="row">
    <div class="col-12 col-12-md col-3-lg">
      <h1>I am James Williams, </br> a designer</h1>
    </div>
    <div class="col">
      <p>Currently I am the Design Director at the Birmingham Museum of Art. I also make prints, paint, and take photographs. Illuminated Octopus is the archive of those thing.</P>
    </div> 
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-12-md col-3-lg">
      <h4>design</h4>
    </div>
    <div class="col">
      <a href=/projects/posters/2017_third_space_chapters>{% image "projects/posters/2017_third_space_chapters/images/third_space_chapters_1.jpg", "thumbnail image of a detail from an illustration of a figure with fist raised against a repeated pattern of raised arm" %}</a>
      <figcaption>Third Space Chapters</figcaption>
    </div> 
    <div class="col">
      <a href=/projects/books/2018_cargo_catalog>{% image "projects/books/2018_cargo_catalog/images/cc_1.jpg", "" %}</a>
      <figcaption>The Original Makers Catalog</figcaption>
    </div> 
    <div class="col">
      <a href=/projects/posters/2011_who_shot_rock>{% image "projects/posters/2011_who_shot_rock/images/wsr_1.jpg", "thumbnail image of a punk rock band playing with cropped text above it" %}</a>
      <figcaption>Who Shot Rock & Roll</figcaption>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-12-md col-3-lg"></div>
    <div class="col">
      <a href=/projects/books>{% image "projects/books/2021_clare_leighton/images/cl_00.jpg", "image of a book cover" %}</a>
      <figcaption>Books, Editorial, Etc</figcaption>
    </div> 
    <div class="col">
      <a href=/projects/2010_aotr>{% image "projects/2010_aotr/images/AOTR_2010_poster.jpg", "poster with geometric burst" %}</a>
      <figcaption>Art on the Rocks</figcaption>
    </div> 
    <div class="col">
      <h5>more design</h5>
      <figcaption><a href=/projects/books>Books, Editorial, etc »</a></figcaption>
      <figcaption><a href=/projects/exhibitions>Exhibitions »</a></figcaption>
      <figcaption>Posters / Marketing / etc [coming soon]</figcaption>
      <figcaption>Ephemera and Such [coming soon]</figcaption>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-12-md col-3-lg">
      <h4>photography</h4>
    </div>
    <div class="col">
      <a href=/projects/photography/2023_detroit>{% image "projects/photography/2023_detroit/images/detroit_5.jpg", "grand hall in a museum with dramatic lighting in black and white" %}</a>
      <figcaption>Detroit</figcaption>
    </div>
    <div class="col">
      <a href=/projects/photography/2022_finland>{% image "projects/photography/2022_finland/images/finland_2022_12.jpg", "monument in shape of human figure with holes like swiss cheese" %}</a>
      <figcaption>Finland</figcaption>
    </div> 
    <div class="col">
      <a href=/projects/photography/2023_03_12_french_doors>{% image "projects/photography/2023_03_12_french_doors/images/IMG_2961_sortie_sized_bw.jpg", "image of a doorway in France" %}</a>
      <figcaption>French Doors</figcaption>
    </div> 
  </div> 
  <div class="row">
    <div class="col-12 col-12-md col-3-lg"></div>
    <div class="col"></div> 
    <div class="col"></div> 
    <div class="col"></div>
  </div> 
</div>