<h3>Exhibitions</h3>
<a href=/design/exhibitions/2015_ex_fleming> {% image "./exhibitions/2015_ex_fleming/images/fleming_ex3.jpg", "image of art installation" %}</a>
</br></br>
<a href=/design/exhibitions/2014_ex_puxley> {% image "./exhibitions/2014_ex_puxley/images/puxley_ex_1.jpg", "image of a brochure cover" %}</a>
</br>
<hr>