<h3>Catalogs</h3>
<a href=/design/books/2021_clare_leighton>{% image "./books/2021_clare_leighton/images/cl_00.jpg", "image of a book cover" %}</a>
</br></br>
<a href=/design/books/2018_cargo_catalog>{% image "./books/2018_cargo_catalog/images/cc_1.jpg", "" %}</a>
</br></br>
<a href=/design/books/2018_coe>{% image "./books/2018_coe/images/coe_1.jpg", "image of a book cover" %}</a>
</br></br>
<a href=/design/books/2016_ikat>{% image "./books/2016_ikat/images/ikat_1.jpg", "image of a book cover" %}</a>
</br></br>
<a href=/design/books/2013_etched>{% image "./books/2013_etched/images/etched_1.jpg", "" %}</a>
</br></br>
<a href=/design/books/2013_bhm>{% image "./books/2013_bhm/images/bhm_1.jpg", "image of a book cover" %}</a>
</br></br>
<a href=/design/books/2012_variations>{% image "./books/2012_variations/images/variations_1.jpg", "image of a book cover" %}</a>
</br></br>
<a href=/design/books/2012_lol>{% image "./books/2012_lol/images/lol_1.jpg", "image of a book cover" %}</a>
</br></br>
<a href=/design/books/2012_space>{% image "./books/2012_space/images/space_1.jpg", "image of a book cover" %}</a>
</br></br>
<a href=/design/books/2011_vietnam>{% image "./books/2011_vietnam/images/vietnam_1.jpg", "" %}</a>
</br></br>
<a href=/design/books/2008_louden>{% image "./books/2008_louden/images/louden_1.jpg", "image of a book cover" %}</a>
</br></br>
<a href=/design/books/2008_leo>{% image "./books/2008_leo/images/leo_1.jpg", "image of a book cover" %}</a>
</br>
<hr>