<h3>Campaigns</h3>
{% image "./posters/2019_free/images/free_1.jpg", "poster for an art museum" %}</a>
</br></br>
<a href=/design/posters/2017_third_space_chapters>{% image "./posters/2017_third_space_chapters/images/third_space_chapters_1.jpg", "thumbnail image of a detail from an illustration of a figure with fist raised against a repeated pattern of raised arm" %}</a>
</br></br>
{% image "./posters/2015_small_treasures/images/small_treasures_1.jpg", "Poster for an exhibition of small dutch paintings" %}
</br></br>
<a href=/design/posters/2014_delacroix> {% image "./posters/2014_delacroix/images/delacroix_0.jpg", "delacroix exhibition poster" %}</a>
</br></br>
{% image "./posters/2012_rockwell/images/rockwell_2.jpg", "poster for an art exhibition" %}
</br></br>
<a href=/design/posters/2011_who_shot_rock> {% image "./posters/2011_who_shot_rock/images/wsr_1.jpg", "rock and roll photography exhibition poster" %}</a>
</br></br>
{% image "./posters/2011_lol/images/lol_4.jpg", "poster for an exhibition of eye miniatures" %}
</br></br>
{% image "./posters/2009_llph/images/llph_18.jpg", "poster for an exhibition of american art" %}
</br>
<hr>