<h3>Gallery Guides</h3>
<a href=/design/books/2019_blackout>{% image "./books/2019_blackout/images/blackout_1.jpg", "image of a gallery guide cover" %}</a>
</br></br>
<a href=/design/books/2017_afterlife>{% image "./books/2017_afterlife/images/afterlife_1.jpg", "image of a gallery guide cover" %}</a>
</br></br>
<a href=/design/books/2016_shift>{% image "./books/2016_shift/images/shift_3.jpg", "image of a gallery guide cover" %}</a>
</br></br>
<a href=/design/books/2016_collins>{% image "./books/2016_collins/images/collins_1.jpg", "image of a gallery guide cover" %}</a>
</br></br>
<a href=/design/books/2015_haitian>{% image "./books/2015_haitian/images/haitian_1.jpg", "image of a gallery guide cover" %}</a>
</br></br>
<a href=/design/books/2015_fleming>{% image "./books/2015_fleming/images/fleming_1.jpg", "image of a brochure cover" %}</a>
</br></br>
<a href=/design/books/2014_puxley>{% image "./books/2014_puxley/images/puxley_1.jpg", "image of a book cover" %}</a>
</br></br>
<a href=/design/books/2010_spiral>{% image "./books/2010_spiral/images/spiral_1.jpg", "image of a brochure cover" %}</a>
</br></br>
<a href=/design/books/2010_katsinas>{% image "./books/2010_katsinas/images/katsinas_1.jpg", "image of a brochure cover" %}</a>
</br></br>
<a href=/design/books/2009_pleasant>{% image "./books/2009_pleasant/images/pleasant_1.jpg", "image of a brochure cover" %}</a>
</br></br>
<a href=/design/books/2008_windham>{% image "./books/2008_windham/images/windham_1.jpg", "image of a brochure cover" %}</a>
</br></br>
<a href=/design/books/2007_wallceilingfloor>{% image "./books/2007_wallceilingfloor/images/wallceilingfloor_1.jpg", "image of a brochure cover" %}</a>
</br>
<hr>