<h3>Singles</h3>
{% image "./posters/2023_nappy/images/nappy_1.jpg", "Poster for a contemporary art exhibition about african american hair" %}
</br></br>
{% image "./posters/2019_portraits/images/portraits.jpg", "Poster for a portraiture exhibition" %}
</br></br>
<a href=/design/posters/2019_redline> {% image "./posters/2019_redline/images/redline_1.jpg", "contemporary photography exhibition poster" %}</a>
</br></br>
{% image "./posters/2019_redline/images/redline_2.jpg", "poster for a panel discussion" %}
</br></br>
{% image "./posters/2018_chenoweth_parcak/images/chenoweth_parcak_1.jpg", "poster for a lecture" %}</a>
</br></br>
{% image "./posters/2018_cargo/images/cargo_1.jpg", "Poster for an exhibition of folk art" %}
</br></br>
{% image "./posters/2018_weldon/images/weldon_1.jpg", "Poster for an asian art exhibition" %}
</br></br>
{% image "./posters/2017_chenoweth_cotter/images/chenoweth_cotter_1.jpg", "poster for a lecture" %}</a>
</br></br>
{% image "./posters/2017_friend/images/friend_1.jpg", "Poster for a lecture" %}
</br></br>
{% image "./posters/2016_morton/images/morton_1.jpg", "Poster for a lecture" %}
</br></br>
{% image "./posters/2016_body/images/body_1.jpg", "Poster for a lecture" %}
</br></br>
{% image "./posters/2016_gulf/images/gulf_3.jpg", "Poster for a lecture" %}
</br></br>
{% image "./posters/2017_aa5/images/aa5_1.jpg", "Poster for a program" %}
</br></br>
{% image "./posters/2016_studio/images/studio_1.jpg", "Poster for an studio program" %}
</br></br>
{% image "./posters/2015_chenoweth_foster/images/chenoweth_foster_1.jpg", "Poster for a lecture" %}
</br></br>
{% image "./posters/2015_black_who/images/who_11.jpg", "Poster for an art exhibition" %}
</br></br>
{% image "./posters/2014_japanese_film/images/japanese_film_1.jpg", "Poster with a film still of samurai in a field with an overlaid red circle" %}
</br></br>
{% image "./posters/2013_etched/images/etched_1.jpg", "Poster for a contemporary art exhibition focused on the civil rights movement" %}
</br></br>
{% image "./posters/2013_dawoud/images/dawoud_1.jpg", "Poster for a photography exhibition" %}
</br></br>
<a href=/design/posters/2001_organ> {% image "./posters/2001_organ/images/organ_donor_psa.jpg", "Poster with a diagram depicting a grid of tiny humans being helped by the organ donation of one large human" %}</a>
</br>
<hr>