<div class="row">
  <div class="col">
    <h3>Titles</h3>
    <p>Logotypes and title treatments for a wide range exhibitions.</p>
  </div>
    <div class="col">
          {% _image "titles_1.png", "" %}
          <figcaption></figcaption>
          </br></br>
          {% _image "titles_2.png", "" %}
          <figcaption></figcaption>
          </br></br>
          {% _image "titles_3.png", "" %}
          <figcaption></figcaption>
          </br></br>
          {% _image "titles_4.png", "" %}
          <figcaption></figcaption>
          </br></br>
          {% _image "titles_5.png", "" %}
          <figcaption></figcaption>
          </br></br>
          {% _image "titles_21.png", "" %}
          <figcaption></figcaption>
          </br></br>
    </div>
    <div class="col">
          {% _image "titles_6.png", "" %}
          <figcaption></figcaption>
          </br></br>
          {% _image "titles_7.png", "" %}
          <figcaption></figcaption>
          </br></br>
          {% _image "titles_8.png", "" %}
          <figcaption></figcaption>          
          </br></br>
          {% _image "titles_9.png", "" %}
          <figcaption></figcaption>
          </br></br>
          {% _image "titles_10.png", "" %}
          <figcaption></figcaption>
          </br></br>
          {% _image "mb2015.png", "" %}
          <figcaption></figcaption>
          </br></br>
    </div>
    <div class="col">
          {% _image "titles_11.png", "" %}
          <figcaption></figcaption>
          </br></br>
          {% _image "titles_12.png", "" %}
          <figcaption></figcaption>
          </br></br>
          {% _image "titles_13.png", "" %}
          <figcaption></figcaption>
          </br></br>
          {% _image "titles_14.png", "" %}
          <figcaption></figcaption>
          </br></br>
          {% _image "titles_15.png", "" %}
          <figcaption></figcaption>
          </br></br>
    </div>
    <div class="col">
          {% _image "titles_16.png", "" %}
          <figcaption></figcaption>
          </br></br>
          {% _image "titles_17.png", "" %}
          <figcaption></figcaption>
          </br></br>
          {% _image "titles_18.png", "" %}
          <figcaption></figcaption>
          </br></br>
          {% _image "titles_19.png", "" %}
          <figcaption></figcaption>
          </br></br>
          {% _image "titles_20.png", "" %}
          <figcaption></figcaption>
          </br></br>
    </div>
</div>
