<h3>Invitations
</br></br> 
      {%image "./ephemera/2020_mb/images/mb_2020_5.jpg", "invitation save the date" %}
</br></br>
      {%image "./ephemera/2019_mb/images/mb_2019_1.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2016_cc/images/cc_2016_5.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2015_mb/images/mb_2015_3.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2015_fleming/images/fleming_1.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2015_cc/images/cc_2015_4.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2014_mb/images/mb_2014_1.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2013_sankofa/images/sankofa_2013_1.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2013_mb/images/mb_2013_2.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2013_john_liz/images/john_liz_1.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2012_warhol/images/warhol_3.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2012_mb/images/mb_2012_5.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2012_babyjames/images/babyjames_3.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2011_sankofa/images/sankofa_2011_1.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2010_mb/images/mb_2010_2.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2010_foaa/images/foaa_1.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2009_mb/images/mb_2009_1.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2009_llph/images/llph_1.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2009_chenoweth/images/chenoweth_2009_1.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2008_photoguild/images/photoguild_1.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2008_leo/images/leo_2.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2007_wallceilingfloor/images/wallceilingfloor_1.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2007_rushton/images/rushton_2007_1.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2007_folkart/images/folkart_1.jpg", "event invitation" %}
</br></br>
      {%image "./ephemera/2007_cc/images/cc_2007_1.jpg", "event invitation" %}
</br></br>
{%image "./ephemera/2007_bernini/images/bernini_1.jpg", "event invitation" %}
</br></br>
{%image "./ephemera/2005_aerisyn/images/aerisyn_1.jpg", "event invitation" %}
</br>
<hr>