<h3>Series</h3>
<a href=/design/posters/2010_aotr> {% image "./posters/2010_aotr/images/AOTR_2023_2.jpg", "event poster" %}</a>
</br></br>
<a href=/design/posters/2018_rushton>{% image "./posters/2018_rushton/images/rushton_2022.jpg", "poster for a piano recital" %}</a>
</br></br>
{% image "./posters/2020_holi/images/holi_2020.jpg", "poster for a holi festival" %}</a>
</br></br>
{% image "./posters/2013_bunting/images/bunting_5.jpg", "poster for a ceramics conference" %}
</br>
<hr>