<h3>Editorial</h3>
<a href=/design/books/2018_medium>{% image "./books/2018_medium/images/medium_1.jpg", "" %}</a>
</br></br>
<a href=/design/books/2012_cc20>{% image "./books/2012_cc20/images/cc20_1.jpg", "image of a book cover" %}</a>
</br></br>
<a href=/design/books/2010_handbook>{% image "./books/2010_handbook/images/handbook_1.jpg", "" %}</a>
</br></br>
<a href=/design/books/2006_dream>{% image "./books/2006_dream/images/dream_1.jpg", "" %}</a>
</br>
<hr>