<div class="row">
    <div class="col">
      <h1>I am James Williams, </br> a designer</h1>
      <p>Illuminated Octopus is my archive and portfolio.</p>
      <figcaption>» <a href="/williams_highlights.pdf" target="_blank">Portfolio Highlight PDF</a></figcaption>
      <hr>
      <div class="spacer-sm"></div>      
    </div>
    <div class="col"></div>
    <div class="col">
      <div class="spacer-md"></div>
      {% _image "es_usted_feliz.jpg", "self portrait of james williams in a mirror with the text ¿es usted feliz? at the top" %}
      <figcaption>Self portrait in Alfredo Jaar's <em>Dark Side of the Moon</em> at the Museo Nacional de Bellas Artes, Santiago de Chile</figcaption>
      <hr>
      <p>I design things, photograph things, occasionally print or paint things. The photographs, prints, and paintings are typically of inanimate objects or places. Rarely people, but more often of late a dog, cats, and chickens. But mostly things like parking structures, doors, manhole covers, and other things discovered walking old and new places.</P> 
      <p>I am currently the Director of Design and Technology at the Birmingham Museum of Art.</p> 
    </div>
    <div class="col">
      <p>As a child I could be found drawing or playing with Legos. Not surprisingly, being a bright kid, I was tracked into advanced math and science classes in middle school, coinciding with my last art class for some time. Fortunately, in my last semester of high school I took a photography class to fill an unexpected gap in my schedule. I proved to have a natural aptitude for composition and a long standing hobby was born.</P>
      <p>Fast forward less than a year and I was a disgruntled engineering major. Though I loved math and science, well, at least the science part, I found that honors physics and calculus III were not the way I wanted to spend my professional life. A deep inspection of the course handbook returned a number of classes offered in photography, or at least tangentially related to photography. And those tangentially related to photography were in the visual communications curriculum.</p>
      <p>Finding the 40th anniversary edition of <em>Communication Arts</em> in the university bookstore sealed my fate. It reminded me of the interests I had as a child, defining them actually. By the next semester I was a graphic design major. Since then I've enjoyed a career ranging from small agency work through the non-profit arts sector.</p>
    </div>
</div>