<div class="row" ><div class="tiny_spacer"></div></div>
<div class="row">
    <div class="col"><h3><figcaption><a href=/creative_index/campaigns_posters/>Campaigns + Posters</a></figcaption></h3></div>
    <div class="col"><figcaption>2024 | Poster</figcaption>
      {% _image "aotr_2024_3.jpg", "poster for after hours event at an art museum" %}      
    </div>
    <div class="col"><figcaption>2023 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2023_nappy>{% _image "nappy_1.jpg", "Poster for a contemporary art exhibition about african american hair" %}</a>
    </div>
    <div class="col"><figcaption>2023 | Poster</figcaption>
      {% _image "chenoweth_bey_2023_5.jpg", "poster for a museum lecture" %}      
    </div>
    <div class="col"><figcaption>2023 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2023_aotr> {% _image "aotr_2023_2.jpg", "event poster" %}</a>
    </div>
    <div class="col"><figcaption>2022 | Poster Series</figcaption>
      <a href=/creative_index/campaigns_posters/2018_rushton>{% _image "rushton_2022.jpg", "poster for a piano recital" %}</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2022 | Poster</figcaption>
      {% _image "reframe_2022_1.jpg", "poster for fall exhibition openings at a museum" %}      
    </div>
    <div class="col"><figcaption>2020 | Poster</figcaption>
      {% _image "holi_2020_1.jpg", "poster for a museum holi celebration" %}      
    </div>
    <div class="col"><figcaption>2019 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2019_portraits>{% _image "portraits.jpg", "Poster for a portraiture exhibition" %}</a>
    </div>
    <div class="col"><figcaption>2019 | Campaign</figcaption>
      <a href=/creative_index/campaigns_posters/2019_free>{% _image "free_1.jpg", "poster for an art museum" %}</a>
    </div>
    <div class="col"><figcaption>2019 | Poster</figcaption>
      {% _image "rushton_2019.jpg", "poster for piano recital" %}
    </div>
    <div class="col"><figcaption>2019 | Poster</figcaption>
      {% _image "bunting_2019_20.jpg", "poster for a ceramics symposium" %}      
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2019 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2019_redline>{% _image "redline_1.jpg", "contemporary photography exhibition poster" %}</a>
    </div>
    <div class="col"><figcaption>2019 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2019_redlining>{% _image "redline_2.jpg", "poster for a panel discussion" %}</a>
    </div>
    <div class="col"><figcaption>2018 | Poster</figcaption>
      {% _image "rushton_2018.jpg", "poster for piano recital" %}
    </div>
    <div class="col"><figcaption>2018 | Poster</figcaption>
      {% _image "art_camp_2018_4.jpg", "poster for a summer art camp" %}
    </div>
    <div class="col"><figcaption>2018 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2018_chenoweth_parcak>{% _image "chenoweth_parcak_1.jpg", "poster for a lecture" %}</a>
    </div>
    <div class="col"><figcaption>2018 | Poster</figcaption>
      {% _image "aotr_2018_poster.jpg", "poster for after hours event at an art museum" %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2018 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2018_cargo>{% _image "cargo_1.jpg", "Poster for an exhibition of folk art" %}</a>
    </div>
    <div class="col"><figcaption>2018 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2018_weldon>{% _image "weldon_1.jpg", "Poster for an asian art exhibition" %}</a>
    </div>
    <div class="col"><figcaption>2017 | Poster</figcaption>
      {% _image "sand_mandala_3.jpg", "poster for a sand mandala ceremony at an art museum" %}
    </div>
    <div class="col"><figcaption>2017 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2017_chenoweth_cotter>{% _image "chenoweth_cotter_1.jpg", "poster for a lecture" %}</a>
    </div>
    <div class="col"><figcaption>2017 | Poster</figcaption>
      {% _image "hispanic_2017_5.jpg", "poster for a hispanic culture festival" %}
    </div>
    <div class="col"><figcaption>2017 | Campaign</figcaption>
      {% _image "third_space_16.jpg", "poster for a contemporary art exhibition" %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2017 | Campaign</figcaption>
      <a href=/creative_index/campaigns_posters/2017_third_space_chapters>{% _image "third_space_chapters_1.jpg", "thumbnail image of a detail from an illustration of a figure with fist raised against a repeated pattern of raised arm" %}</a>
    </div>
    <div class="col"><figcaption>2017 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2017_friend>{% _image "friend_1.jpg", "Poster for a lecture" %}</a>
    </div>
    <div class="col"><figcaption>2017 | Campaign</figcaption>
      <a href=/creative_index/campaigns_posters/2017_aa5>{% _image "aa5_1.jpg", "Poster for a program" %}</a>
    </div>
    <div class="col"><figcaption>2016 | Poster</figcaption>
      {% _image "bma_speaks_4.jpg", "poster for an art museum" %}
    </div>
    <div class="col"><figcaption>2016 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2016_studio>{% _image "studio_0.jpg", "Poster for an studio program" %}</a>
    </div>
    <div class="col"><figcaption>2016 | Poster</figcaption>
      {% _image "harvest_fest_1.jpg", "poster for a fall family festival" %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2016 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2016_morton>{% _image "morton_1.jpg", "Poster for a lecture" %}</a>
    </div>
    <div class="col"><figcaption>2016 | Poster</figcaption>
      {% _image "bma_speaks_7.jpg", "poster for after hours event at an art museum" %}
    </div>
    <div class="col"><figcaption>2016 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2016_body>{% _image "body_1.jpg", "Poster for a lecture" %}</a>
    </div>
    <div class="col"><figcaption>2016 | Poster</figcaption>
      {% _image "artbreak_2.jpg", "poster for after hours event at an art museum" %}
    </div>
   <div class="col"><figcaption>2016 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2016_gulf>{% _image "gulf_3.jpg", "Poster for a lecture" %}</a>
    </div>
    <div class="col"><figcaption>2016 | Poster</figcaption>
      {% _image "aotr_2016_poster.jpg", "poster for after hours event at an art museum" %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2016 | Poster</figcaption>
      {% _image "hispanic_2016_1.jpg", "poster for a hispanic culture festival" %}
    </div>
    <div class="col"><figcaption>2015 | Campaign</figcaption>
      <a href=/creative_index/campaigns_posters/2015_small_treasures>{% _image "small_treasures_1.jpg", "Poster for an exhibition of small dutch paintings" %}</a>
    </div>
    <div class="col"><figcaption>2015 | Poster</figcaption>
      {% _image "spiritual_moderns_1.jpg", "poster for a lecture" %}
    </div>
    <div class="col"><figcaption>2015 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2015_bunting>{% _image "bunting_5.jpg", "poster for a ceramics conference" %}</a>
    </div>
    <div class="col"><figcaption>2015 | Poster</figcaption>
      {% _image "rushton_2015_1.jpg", "poster for a piano recital" %}
    </div>
    <div class="col"><figcaption>2015 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2015_chenoweth_foster>{% _image "chenoweth_foster_1.jpg", "Poster for a lecture" %}</a>
    </div>
</div>
<hr>
<div class="row">
      <div class="col"><figcaption>2015 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2015_black_who>{% _image "who_11.jpg", "Poster for an art exhibition" %}</a>
    </div>
    <div class="col"><figcaption>2015 | Poster</figcaption>
      {% _image "rick_lowe_1.jpg", "poster for a lecture" %}
    </div>
    <div class="col"><figcaption>2015 | Poster</figcaption>
      {% _image "hiden_2015_1.jpg", "poster for a lecture" %}
    </div>
    <div class="col"><figcaption>2014 | Campaign</figcaption>
      <a href=/creative_index/campaigns_posters/2014_delacroix>{% _image "delacroix_0.jpg", "delacroix exhibition poster" %}</a>
    </div>
    <div class="col"><figcaption>2014 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2014_japanese_film>{% _image "japanese_film_1.jpg", "Poster with a film still of samurai in a field with an overlaid red circle" %}</a>
    </div>
    <div class="col"><figcaption>2014 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2014_pie>{% _image "pie_1.jpg", "Poster for a pie eating contest" %}</a>
    </div>  
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2013 | Poster</figcaption>
      {% _image "aotr_2013_poster.jpg", "poster for after hours event at an art museum" %}
    </div>
    <div class="col"><figcaption>2013 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2013_vagina>{% _image "vagina_1.jpg", "poster for performance of the vagina monologues" %}</a>
    </div>
    <div class="col"><figcaption>2012 | Poster</figcaption>
      {% _image "bunting_2013_1.jpg", "poster for an andy warhol and cars exhibition" %}
    </div>
    <div class="col"><figcaption>2013 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2013_etched>{% _image "etched_ad_1.jpg", "Poster for a contemporary art exhibition focused on the civil rights movement" %}</a>
    </div>  
    <div class="col"><figcaption>2013 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2013_dawoud>{% _image "dawoud_1.jpg", "Poster for a photography exhibition" %}</a>
    </div>
    <div class="col"><figcaption>2013 | Ad</figcaption>
      <a href=/creative_index/campaigns_posters/2013_bham_times>{% _image "times_50_1.jpg", "Poster commemmorating the 50th anniversary of a newspaper" %}</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2012 | Poster</figcaption>
      {% _image "warhol_cars_1.jpg", "poster for an andy warhol and cars exhibition" %}
    </div>
    <div class="col"><figcaption>2012 | Poster</figcaption>
      {% _image "aotr_2012_poster.jpg", "poster for after hours event at an art museum" %}
    </div>
    <div class="col"><figcaption>2012 | Campaign</figcaption>
      <a href=/creative_index/campaigns_posters/2012_rockwell>{% _image "rockwell_2.jpg", "poster for an art exhibition" %}</a>
    </div>
    <div class="col"><figcaption>2011 | Poster</figcaption>
      {% _image "first_thursdays_1.jpg", "poster for after hours event at an art museum" %}
    </div>
    <div class="col"><figcaption>2011 | Poster</figcaption>
      {% _image "daumier_2.jpg", "poster for a daumier exhibition" %}
    </div>
    <div class="col"><figcaption>2011 | Poster</figcaption>
      {% _image "aotr_2011_poster.jpg", "poster for after hours event at an art museum" %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2011 | Campaign</figcaption>
      <a href=/creative_index/campaigns_posters/2011_who_shot_rock> {% _image "wsr_1.jpg", "rock and roll photography exhibition poster" %}</a>
    </div>
    <div class="col"><figcaption>2011 | Campaign</figcaption>
      <a href=/creative_index/campaigns_posters/2011_lol>{% _image "lol_ad_1.jpg", "poster for an exhibition of eye miniatures" %}</a>
    </div>
    <div class="col"><figcaption>2010 | Ad</figcaption>
      {% _image "oscars_brand_1.jpg", "ad for a cafe at an art museum" %}
    </div>
    <div class="col"><figcaption>2010 | Poster</figcaption>
      {% _image "aotr_2010_poster.jpg", "poster for after hours event at an art museum" %}
    </div>
    <div class="col"><figcaption>2009 | Ad</figcaption>
      {% _image "suska_1.jpg", "ad for a contemporary art rotation" %}
    </div>
    <div class="col"><figcaption>2009 | Ad</figcaption>
      {% _image "contemporary_2009_1.jpg", "ad for a contemporary art rotation" %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2009 | Poster</figcaption>
      {% _image "building_banner_2.jpg", "poster for an exhibition of asian art" %}
    </div>
    <div class="col"><figcaption>2009 | Campaign</figcaption>
      <a href=/creative_index/campaigns_posters/2009_llph>{% _image "llph_18.jpg", "poster for an exhibition of american art" %}</a>
    </div>
    <div class="col"><figcaption>2008 | Poster</figcaption>
      {% _image "rushton_2008_1.jpg", "Poster for a piano recital" %}
    </div>
    <div class="col"><figcaption>2008 | Poster</figcaption>
      {% _image "leo_ad_3.jpg", "Poster for a leonard da vinci drawings exhibition" %}
    </div>
    <div class="col"><figcaption>2007 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2007_spca>{% _image "spca_1.jpg", "Poster for the society for the prevention of cruelty to animals" %}</a>
    </div>
    <div class="col"><figcaption>2007 | Poster</figcaption>
      {% _image "pompeii_1.jpg", "Poster for an exhibition of pompeii material" %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2005 | Poster</figcaption>
      {% _image "ilck3_2.jpg", "Poster for a rock and roll show" %}
    </div>
    <div class="col"><figcaption>2005 | Poster</figcaption>
      {% _image "ilck3_1.jpg", "Poster for a rock and roll show" %}
    </div>
    <div class="col"><figcaption>2001 | Poster</figcaption>
      <a href=/creative_index/campaigns_posters/2001_organ>{% _image "organ_donor_psa.jpg", "Poster with a diagram depicting a grid of tiny humans being helped by the organ donation of one large human" %}</a>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>
