<div class="row" ><div class="tiny_spacer"></div></div>
<div class="row">
    <div class="col"><h3><figcaption><a href=/index/campaigns_posters/>Campaigns + Posters</a></figcaption></h3></div>
    <div class="col"><figcaption>2023 | Poster</figcaption>
      {% _image "nappy_1.jpg", "Poster for a contemporary art exhibition about african american hair" %}
    </div>
    <div class="col"><figcaption>2023 | Poster Series</figcaption>
      <a href=/index/campaigns_posters/2010_aotr> {% _image "AOTR_2023_2.jpg", "event poster" %}</a>
    </div>
    <div class="col"><figcaption>2022 | Poster Series</figcaption>
      <a href=/index/campaigns_posters/2018_rushton>{% _image "rushton_2022.jpg", "poster for a piano recital" %}</a>
    </div>
    <div class="col"><figcaption>2020 | Poster</figcaption>
      {% _image "portraits.jpg", "Poster for a portraiture exhibition" %}
    </div>
    <div class="col"><figcaption>2019 | Campaign</figcaption>
      {% _image "free_1.jpg", "poster for an art museum" %}</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2019 | Poster</figcaption>
      {% _image "redline_1.jpg", "contemporary photography exhibition poster" %}
    </div>
    <div class="col"><figcaption>2019 | Poster</figcaption>
      {% _image "redline_2.jpg", "poster for a panel discussion" %}
    </div>
    <div class="col"><figcaption>2018 | Poster</figcaption>
      {% _image "chenoweth_parcak_1.jpg", "poster for a lecture" %}</a>
    </div>
    <div class="col"><figcaption>2018 | Poster</figcaption>
      {% _image "cargo_1.jpg", "Poster for an exhibition of folk art" %}
    </div>
    <div class="col"><figcaption>2018 | Poster</figcaption>
      {% _image "weldon_1.jpg", "Poster for an asian art exhibition" %}
    </div>
    <div class="col"><figcaption>2017 | Poster</figcaption>
      {% _image "chenoweth_cotter_1.jpg", "poster for a lecture" %}</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2017 | Campaign</figcaption>
      <a href=/index/campaigns_posters/2017_third_space_chapters>{% _image "third_space_chapters_1.jpg", "thumbnail image of a detail from an illustration of a figure with fist raised against a repeated pattern of raised arm" %}</a>
    </div>
    <div class="col"><figcaption>2017 | Poster</figcaption>
      {% _image "friend_1.jpg", "Poster for a lecture" %}
    </div>
    <div class="col"><figcaption>2017 | Campaign</figcaption>
      {% _image "aa5_1.jpg", "Poster for a program" %}
    </div>
    <div class="col"><figcaption>2016 | Poster</figcaption>
      {% _image "studio_0.jpg", "Poster for an studio program" %}
    </div>
    <div class="col"><figcaption>2016 | Poster Series</figcaption>
      {% _image "morton_1.jpg", "Poster for a lecture" %}
    </div>
    <div class="col"><figcaption>2016 | Poster</figcaption>
      {% _image "body_1.jpg", "Poster for a lecture" %}
    </div>
</div>
<hr>
<div class="row">
   <div class="col"><figcaption>2016 | Poster</figcaption>
      {% _image "gulf_3.jpg", "Poster for a lecture" %}
    </div>
    <div class="col"><figcaption>2015 | Campaign</figcaption>
      {% _image "small_treasures_1.jpg", "Poster for an exhibition of small dutch paintings" %}
    </div>
    <div class="col"><figcaption>2015 | Poster Series</figcaption>
      {% _image "bunting_5.jpg", "poster for a ceramics conference" %}
    </div>
    <div class="col"><figcaption>2015 | Poster</figcaption>
      {% _image "chenoweth_foster_1.jpg", "Poster for a lecture" %}
    </div>
      <div class="col"><figcaption>2015 | Poster</figcaption>
      {% _image "who_11.jpg", "Poster for an art exhibition" %}
    </div>
    <div class="col"><figcaption>2014 | Campaign</figcaption>
      <a href=/index/campaigns_posters/2014_delacroix> {% _image "delacroix_0.jpg", "delacroix exhibition poster" %}</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2014 | Poster</figcaption>
      {% _image "japanese_film_1.jpg", "Poster with a film still of samurai in a field with an overlaid red circle" %}
    </div>
    <div class="col"><figcaption>2014 | Poster</figcaption>
      {% _image "pie_1.jpg", "Poster for a pie eating contest" %}
    </div>  
    <div class="col"><figcaption>2013 | Poster</figcaption>
      {% _image "vagina_1.jpg", "poster for performance of the vagina monologues" %}
    </div>
    <div class="col"><figcaption>2013 | Poster</figcaption>
      {% _image "etched_ad_1.jpg", "Poster for a contemporary art exhibition focused on the civil rights movement" %}
    </div>  
    <div class="col"><figcaption>2013 | Poster</figcaption>
      {% _image "dawoud_1.jpg", "Poster for a photography exhibition" %}
    </div>
    <div class="col"><figcaption>2013 | Ad</figcaption>
      {% _image "times_50_1.jpg", "Poster commemmorating the 50th anniversary of a newspaper" %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2012 | Campaign</figcaption>
      {% _image "rockwell_2.jpg", "poster for an art exhibition" %}
    </div>
    <div class="col"><figcaption>2011 | Campaign</figcaption>
      <a href=/index/campaigns_posters/2011_who_shot_rock> {% _image "wsr_1.jpg", "rock and roll photography exhibition poster" %}</a>
    </div>
    <div class="col"><figcaption>2011 | Campaign</figcaption>
      {% _image "lol_ad_1.jpg", "poster for an exhibition of eye miniatures" %}
    </div>
    <div class="col"><figcaption>2009 | Campaign</figcaption>
      {% _image "llph_18.jpg", "poster for an exhibition of american art" %}
    </div>
    <div class="col"><figcaption>2007 | Poster</figcaption>
      {% _image "spca_1.jpg", "Poster for the society for the prevention of cruelty to animals" %}
    </div>
    <div class="col"><figcaption>2001 | Poster</figcaption>
      <a href=/index/campaigns_posters/2001_organ> {% _image "organ_donor_psa.jpg", "Poster with a diagram depicting a grid of tiny humans being helped by the organ donation of one large human" %}</a>
    </div>
</div>
