<div class="row">    
    <div class="col"><h3>Other Book and Editorial Design</h3><p>Magazines and books not specifically for an exhibition.</div>
    <div class="col">
        <a href=/design/books/2022_seasons>{% _image "seasons_01.jpg", "image of a publication cover" %}</a>
    </div>
    <div class="col">
        <a href=/design/books/2018_medium>{% _image "medium_1.jpg", "" %}</a>
    </div>
    <div class="col">
        <a href=/design/books/2012_cc20>{% _image "cc20_1.jpg", "image of a book cover" %}</a>
    </div>
    <div class="col">
        <a href=/design/books/2010_handbook>{% _image "handbook_1.jpg", "" %}</a>
    </div>
</div>
<div class="row">    
    <div class="col"></div>
    <div class="col">
        <a href=/design/books/2006_dream>{% _image "dream_1.jpg", "" %}</a>
    </div>
    <div class="col">
        <a href=/design/books/2003_arc>{% _image "arc_1.jpg", "cover of a brochure" %}</a>
    </div>
    <div class="col"></div>
    <div class="col"></div>    
</div>