    <ul class="post-metadata">
     <li><active-breadcrumb>» Design /</active-breadcrumb></li> 
     <li><a href="#books">Books + Editorial + Ephemera</a></li> / 
     <li><a href="#posters">Advertising + Marketing</a></li> / 
     <li><a href="#exhibit">Exhibition + Interactive</a></li> / 
     <li><a href="#branding">Logos + Branding</a></li> / 
     <li><a href="#top">Return to Top</a></li>
   </ul>