<div class="row">
    <div class="col">
        <h3>Interactive Design</h3>
        <p>Digital exhibition didactics and other interactives.</p> 
    </div>        
    <div class="col">
        {% _image "fashion_1.jpg", "grid of images of people posing in a photobooth" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        {% _image "blackout_ex_0.jpg", "image of a exhibition title graphic" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        {% _image "monument_0.png", "image of a exhibition title graphic" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        {% _image "coe_ex_1.jpg", "image of a exhibition title graphic" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col">
    </div>
    <div class="col">
        {% _image "smartguide_1.jpg", "image of a exhibition title graphic" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col"></div>
    <div class="col"></div>
</div>