<div class="row">
        <div class="col"><h3>Exhibition Catalogs</h3><p>A primary responsibility for many years at the Museum and one of my favorite design challenges during my tenure. Also included are catalogs for independent gallerists' exhibitions. The goal of any catalog design is to complement the artwork, while also creating an aesthetically pleasing book.</div>
        <div class="col">
            <a href=/design/books/2021_clare_leighton>{% _image "cl_00.jpg", "image of a book cover" %}</a>
        </div>
        <div class="col">
            <a href=/design/books/2018_cargo_catalog>{% _image "cc_1.jpg", "" %}</a>
        </div>
        <div class="col">
            <a href=/design/books/2018_coe>{% _image "coe_1.jpg", "image of a book cover" %}</a>
        </div>
        <div class="col">
            <a href=/design/books/2016_ikat>{% _image "ikat_1.jpg", "image of a book cover" %}</a>
        </div>
</div>
<div class="row">
        <div class="col"></div>
        <div class="col">
            <a href=/design/books/2013_etched>{% _image "etched_1.jpg", "" %}</a>
        </div>
        <div class="col">
            <a href=/design/books/2013_bhm>{% _image "bhm_1.jpg", "image of a book cover" %}</a>
        </div>
        <div class="col">
            <a href=/design/books/2012_variations>{% _image "variations_1.jpg", "image of a book cover" %}</a>
        </div>
        <div class="col">
            <a href=/design/books/2012_lol>{% _image "lol_1.jpg", "image of a book cover" %}</a>
        </div>
    </div>
</div>
<div class="row">
        <div class="col"></div>
        <div class="col">
            <a href=/design/books/2012_space>{% _image "space_1.jpg", "image of a book cover" %}</a>
        </div>
        <div class="col">
            <a href=/design/books/2011_vietnam>{% _image "vietnam_1.jpg", "" %}</a>
        </div>
        <div class="col">
            <a href=/design/books/2008_louden>{% _image "louden_1.jpg", "image of a book cover" %}</a>
        </div>
        <div class="col">
            <a href=/design/books/2008_leo>{% _image "leo_1.jpg", "image of a book cover" %}</a>
        </div>
</div>