<div class="row">
  <div class="col">
    <h3>Logos</h3>
    <p>Logos and monograms for a wide range of programs, initiatives, clients, etc.</p>
  </div>
  <div class="col">
    {% _image "bmarun.png", "" %}
    </br></br>
    {% _image "drc.png", "" %}
    </br></br>
    {% _image "bison.png", "" %}
      </br></br>
    {% _image "mugclub.png", "" %}
    </br></br>
    {% _image "fishheads.png", "" %}
    </br></br>
    {% _image "bart.png", "" %}
</div>
  <div class="col">
    {% _image "cecrops.png", "" %}
    </br></br>
    {% _image "aotr_logo.png", "" %}
    </br></br>
    {% _image "oscars.png", "" %}
    </br></br>
    {% _image "gryphon.png", "" %}
    </br></br>
    {% _image "mb2017.png", "" %}
    </br></br>
    {% _image "sweetnt.png", "" %}
</div>
  <div class="col">
    {% _image "imaginasia.png", "" %}
    </br></br>
    {% _image "bma60.png", "" %}
    </br></br>
    {% _image "heart.png", "" %}
    </br></br>
    {% _image "seamstress.png", "" %}
    </br></br>
    {% _image "elvises.png", "" %}
        </br></br>
    {% _image "al_goddamn_1.png", "" %}
</div>
  <div class="col">
    {% _image "bunting.png", "" %}
    </br></br>
    {% _image "camelot.png", "" %}
    </br></br>
    {% _image "mb2012.png", "" %}
    </br></br>
    {% _image "tb.png", "" %}
    </br></br>
    {% _image "photorocks.png", "" %}
  </div>
</div>