<div class="row">
    <div class="col">
        <h3>Gallery Guides and Other Brochures</h3>
        <p>Gallery guides often work as mini catalogs for exhibitions, adhering generally to the same design needs. Art first, complementary design second. Brochures and other items that serve as informational material.</p>
    </div>
    <div class="col">
        <a href=/design/books/2019_blackout>{% _image "blackout_1.jpg", "image of a gallery guide cover" %}</a>
    </div>
    <div class="col">
        {% _image "map_2018_3.jpg", "map brochure" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        {% _image "studio_1.jpg", "brochure" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        <a href=/design/books/2017_afterlife>{% _image "afterlife_1.jpg", "image of a gallery guide cover" %}</a>
    </div>
</div>    
<div class="row">
    <div class="col"></div>
    <div class="col">
        <a href=/design/books/2016_shift>{% _image "shift_3.jpg", "image of a gallery guide cover" %}</a>
    </div>
    <div class="col">
        <a href=/design/books/2016_collins>{% _image "collins_1.jpg", "image of a gallery guide cover" %}</a>
    </div>
    <div class="col">
        <a href=/design/books/2015_haitian>{% _image "haitian_1.jpg", "image of a gallery guide cover" %}</a>
    </div>
    <div class="col">
        <a href=/design/books/2015_fleming>{% _image "fleming_1.jpg", "image of a brochure cover" %}</a>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col">
      {% _image "decoding_0.jpg", "brochure" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        <a href=/design/books/2014_puxley>{% _image "puxley_1.jpg", "image of a book cover" %}</a>
    </div>
    <div class="col">
      {% _image "map_2012_1.jpg", "brochure" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        <a href=/design/books/2010_spiral>{% _image "spiral_1.jpg", "image of a brochure cover" %}</a>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col">
        <a href=/design/books/2010_katsinas>{% _image "katsinas_1.jpg", "image of a brochure cover" %}</a>
    </div>
    <div class="col">
        <a href=/design/books/2009_pleasant>{% _image "pleasant_1.jpg", "image of a brochure cover" %}</a>
    </div>
    <div class="col">
        <a href=/design/books/2008_windham>{% _image "windham_1.jpg", "image of a brochure cover" %}</a>
    </div>
    <div class="col">
        <a href=/design/books/2007_wallceilingfloor>{% _image "wallceilingfloor_1.jpg", "image of a brochure cover" %}</a>
    </div>    
</div>
