<div class="row" ><div class="tiny_spacer"></div></div>
<div class="row">
    <div class="col"><h3><figcaption><a href=/creative_index/ephemera_misc/>Ephemera + Miscellaneous</a></figcaption></h3></div>
    <div class="col"><figcaption>2023 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2023_mb>{% _image "mb_2023_6.jpg", "invitation in shape of absctract lotus blossom" %}</a>
    </div>
    <div class="col"><figcaption>2020 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2020_mb>{% _image "mb_2020_5.jpg", "invitation save the date" %}</a>
    </div>
    <div class="col"><figcaption>2019 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2019_mb>{% _image "mb_2019_12.png", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2016 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2016_cc>{% _image "cc_2016_5.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2015 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2015_mb>{% _image "mb_2015_3.jpg", "event invitation" %}</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2015 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2015_fleming>{% _image "fleming_01.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2015 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2015_cc>{% _image "cc_2015_4.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2014 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2014_mb>{% _image "mb_2014_1.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2013 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2013_sankofa>{% _image "sankofa_2013_1.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2013 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2013_mb>{% _image "mb_2013_2.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2013 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2013_john_liz>{% _image "john_liz_1.jpg", "event invitation" %}</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2012 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2012_warhol>{% _image "warhol_3.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2012 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2012_mb>{% _image "mb_2012_5.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2012 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2012_babyjames>{% _image "babyjames_3.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2011 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2011_sankofa>{% _image "sankofa_2011_1.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2010 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2010_mb>{% _image "mb_2010_2.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2010 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2010_foaa>{% _image "foaa_1.jpg", "event invitation" %}</a>
    </div>
</div>
<hr>
<div class="row">
  <div class="col"><figcaption>2009 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2009_mb>{% _image "mb_2009_1.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2009 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2009_llph>{% _image "llph_1.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2009 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2009_chenoweth>{% _image "chenoweth_2009_1.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2008 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2008_photoguild>{% _image "photoguild_1.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2008 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2008_leo>{% _image "leo_02.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2007 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2007_wallceilingfloor>{% _image "wallceilingfloor_5.jpg", "event invitation" %}</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col"><figcaption>2007 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2007_rushton>{% _image "rushton_2007_1.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2007 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2007_folkart>{% _image "folkart_1.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2007 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2007_cc>{% _image "cc_2007_1.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2007 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2007_bernini>{% _image "bernini_1.jpg", "event invitation" %}</a>
    </div>
    <div class="col"><figcaption>2005 | Invitation</figcaption>
      <a href=/creative_index/ephemera_misc/2005_aerisyn>{% _image "aerisyn_1.jpg", "event invitation" %}</a>
    </div>
     <div class="col"></div>
 </div>