<div class="row" ><div class="tiny_spacer"></div></div>
<div class="row" >
  <div class="col"><h3><figcaption><a href=/creative_index/identity_branding/>Identity + Branding</a></figcaption></h3></div>
  <div class="col"><figcaption>2023 / 2013</figcaption>{% _image "bhm_project.png", "" %}</div>
  <div class="col"><figcaption>2021</figcaption>{% _image "mugclub.png", "" %}</div>
  <div class="col"><figcaption>2020</figcaption>{% _image "bmarun.png", "" %}</div>
  <div class="col"><figcaption>2019</figcaption>{% _image "al_goddamn_1.png", "" %}</div>
  <div class="col"><figcaption>2019</figcaption>{% _image "heart.png", "" %}</div>
</div>
<hr>
<div class="row" >
  <div class="col"><figcaption>2018</figcaption>{% _image "afterlife_title.png", "" %}</div>
  <div class="col"><figcaption>2017</figcaption>{% _image "drc.png", "" %}</div>
  <div class="col"><figcaption>2017</figcaption>{% _image "mb2017.png", "" %}</div>
  <div class="col"><figcaption>2017</figcaption>{% _image "third_space_logo.png", "" %}</div>
  <div class="col"><figcaption>2015</figcaption>{% _image "mb2015.png", "" %}</div>
  <div class="col"><figcaption>2014</figcaption>{% _image "bison.png", "" %}</div>
</div>
<hr>
<div class="row" >
  <div class="col"><figcaption>2013</figcaption>{% _image "fishheads.png", "" %}</div>
  <div class="col"><figcaption>2013</figcaption>{% _image "bunting.png", "" %}</div>
  <div class="col"><figcaption>2013</figcaption>{% _image "vanguard_views.png", "" %}</div>
  <div class="col"><figcaption>2012</figcaption>{% _image "future_perfect.png", "" %}</div>
  <div class="col"><figcaption>2012</figcaption>{% _image "mb2012.png", "" %}</div>
  <div class="col"><figcaption>2012</figcaption>{% _image "rockwell_logo.png", "" %}</div>
</div>
<hr>
<div class="row" >
  <div class="col"><figcaption>2011</figcaption>{% _image "bma60.png", "" %}</div>
  <div class="col"><figcaption>2011</figcaption>{% _image "daumier_logotype.png", "" %}</div>
  <div class="col"><figcaption>2011</figcaption>{% _image "lol_title.png", "" %}</div>
  <div class="col"><figcaption>2011</figcaption>{% _image "wsr_title.png", "" %}</div>
  <div class="col"><figcaption>2011</figcaption>{% _image "stitch_time.png", "" %}</div>
  <div class="col"><figcaption>2011</figcaption>{% _image "photorocks.png", "" %}</div>
</div>
<hr>
<div class="row" >
  <div class="col"><figcaption>2011</figcaption>{% _image "cecrops.png", "" %}</div>
  <div class="col"><figcaption>2010</figcaption>{% _image "oscars.png", "" %}</div>
  <div class="col"><figcaption>2010</figcaption>{% _image "aotr_logo.png", "" %}</div>
  <div class="col"><figcaption>2010</figcaption>{% _image "gryphon.png", "" %}</div>
  <div class="col"><figcaption>2010</figcaption>{% _image "pattern_costume.png", "" %}</div>
  <div class="col"><figcaption>2010</figcaption>{% _image "make_photo.png", "" %}</div>
</div>
<hr>
<div class="row" >
  <div class="col"><figcaption>2009</figcaption>{% _image "sweetnt.png", "" %}</div>
  <div class="col"><figcaption>2009</figcaption>{% _image "imaginasia.png", "" %}</div>
  <div class="col"><figcaption>2009</figcaption>{% _image "art_justice.png", "" %}</div>
  <div class="col"><figcaption>2009</figcaption>{% _image "body_image.png", "" %}</div>
  <div class="col"><figcaption>2009</figcaption>{% _image "folk_art.png", "" %}</div>
  <div class="col"><figcaption>2008</figcaption>{% _image "bart.png", "" %}</div>
</div>
<hr>
<div class="row" >
  <div class="col"><figcaption>2008</figcaption>{% _image "fabric_life.png", "" %}</div>
  <div class="col"><figcaption>2008</figcaption>{% _image "jade.png", "" %}</div>
  <div class="col"><figcaption>2008</figcaption>{% _image "leo_title.png", "" %}</div>
  <div class="col"><figcaption>2008</figcaption>{% _image "new_twist.png", "" %}</div>
  <div class="col"><figcaption>2008</figcaption>{% _image "promise_peril.png", "" %}</div>
  <div class="col"><figcaption>2007</figcaption>{% _image "sea_fever.png", "" %}</div>
  <div class="col"><figcaption>2005</figcaption>{% _image "trueblue.png", "" %}</div>
</div>
<hr>
<div class="row" >
  <div class="col"><figcaption>2002</figcaption>{% _image "connection.png", "" %}</div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>  
  <div class="col"></div>
  <div class="col"></div>
</div>