<div class="row"><div class="tiny_spacer"></div></div>
<div class="row">
    <div class="col"><h3><figcaption><a href="/creative_index/interactive_exhibitions/">Interactive + Exhibitions</a></figcaption></h3></div>
    <div class="col"><figcaption>2023 | Exhibition</figcaption>
        <a href="/creative_index/interactive_exhibitions/2023_bey">{% _image "bey_2023_14.jpg", "image of an exhibition didactic panel" %}</a>
    </div>
    <div class="col"><figcaption>2023 | Exhibition</figcaption>
        <a href="/creative_index/interactive_exhibitions/2023_art_enviro">{% _image "art_enviro_1.jpg", "image of a exhibition title graphic" %}</a>
    </div>
    <div class="col"><figcaption>2022 | Exhibition</figcaption>
        {% _image "travel_1.jpg", "image of a exhibition title graphic" %}
    </div>
    <div class="col"><figcaption>2022 | Exhibition</figcaption>
        {% _image "handheld_ex_1.png", "image of a exhibition title graphic" %}
    </div>
    <div class="col"><figcaption>2022 | Exhibition</figcaption>
        {% _image "darshan_ex_1.jpg", "image of a exhibition title graphic" %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2021 | Exhibition</figcaption>
        {% _image "voices_1.jpg", "diagram of an exhibition layout" %}
    </div>
    <div class="col"><figcaption>2021 | Exhibition</figcaption>
        {% _image "moundbuilders_1.jpg", "image of a exhibition layout" %}
    </div>
    <div class="col"><figcaption>2020 | Exhibition</figcaption>
        {% _image "cl_ex_1.jpg", "image of a exhibition title graphic" %}
    </div>
    <div class="col"><figcaption>2020 | Exhibition</figcaption>
        {% _image "jacob_0.jpg", "image of a exhibition title graphic" %}
    </div>
    <div class="col"><figcaption>2020 | Interactive</figcaption>
        {% _image "monument_0.png", "image of a exhibition title graphic" %}
    </div>
    <div class="col"><figcaption>2019 | Interactive</figcaption>
        {% _image "blackout_ex_0.jpg", "image of a exhibition title graphic" %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2019 | Interactive</figcaption>
        {% _image "fashion_1.jpg", "grid of images of people posing in a photobooth" %}
    </div>
    <div class="col"><figcaption>2019 | Exhibition</figcaption>
        {% _image "smartlab_0.jpg", "image of a exhibition title graphic" %}
    </div>
    <div class="col"><figcaption>2019 | Exhibition</figcaption>
        <a href=/creative_index/interactive_exhibitions/2019_redline>{% _image "redline_ex_00.jpg", "image of a exhibition title graphic" %}</a>
    </div>
    <div class="col"><figcaption>2018 | Exhibition</figcaption>
        {% _image "line_1.png", "image of a exhibition title graphic" %}
    </div>
    <div class="col"><figcaption>2017 | Exhibition</figcaption>
        {% _image "third_space_0.jpg", "image of a exhibition title graphic" %}
    </div>
    <div class="col"><figcaption>2017 | Interactive</figcaption>
        {% _image "smartguide_1.jpg", "image of a exhibition title graphic" %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2015 | Exhibition</figcaption>
            <a href=/creative_index/interactive_exhibitions/2015_ex_fleming> {% _image "fleming_ex3.jpg", "image of a brochure cover" %}</a>
    </div>
    <div class="col"><figcaption>2015 | Exhibition</figcaption>
        <a href=/creative_index/interactive_exhibitions/2015_small>{% _image "small_treasures_0.jpg", "image of a exhibition" %}</a>
    </div>
    <div class="col"><figcaption>2014 | Exhibition</figcaption>
        <a href=/creative_index/interactive_exhibitions/2014_ex_puxley> {% _image "puxley_ex_1.jpg", "image of a brochure cover" %}</a>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>