<div class="row"><div class="spacer"></div></div>
<div class="row">
    <div class="col"><h2><special><a href=/creative_index/photography/>Photography + Prints + Paintings</a></special></h2></div>
    <div class="col"><figcaption>2024 | Portland, Oregon</figcaption>
        <a href=/creative_index/photography/2024_portland>{% _image "portland_2024_12.jpg", "image of an industrial site in portland, oregon" %}</a>
    </div>
    <div class="col"><figcaption>2023 | Valparaiso, Chile</figcaption>
        <a href=/creative_index/photography/2023_valparaiso>{% _image "valpo_1.jpg", "building with electrical wires in foreground in black and white" %}</a>
    </div>
    <div class="col"><figcaption>2023 | Santiago de Chile</figcaption>
        {% _image "santiago_1.jpg", "virgin mary statue at the top of cerro san cristobal in black and white" %}</a>
    </div>
    <div class="col"><figcaption>2023 | Mendoza, Argentina</figcaption>
        {% _image "mdz_1.jpg", "Museo de Ciencias Naturales y Antropológicas Juan Cornelio Moyano in black and white" %}</a>
    </div>
    <div class="col"><figcaption>2023 | Salta, Argentina</figcaption>
        {% _image "sla_1.jpg", "corner of a small church in black and white" %}</a>
    </div>
</div>
<div class="row"><div class="spacer"></div></div>
<div class="row">
    <div class="col"><figcaption>2023 | Buenos Aires, Argentina</figcaption>
        <a href=/creative_index/photography/2023_buenos_aires>{% _image "bae_1.jpg", "the courtyard of the esma in buenos aires seen through a window pane in black and white" %}</a>
    </div>
    <div class="col"><figcaption>2023 | Montevideo, Uruguay</figcaption>
        <a href=/creative_index/photography/2023_montevideo>{% _image "mvd_1.jpg", "palacio salvo in Montevideo at an angle with a palm tree in foreground in black and white" %}</a>
    </div>
    <div class="col"><figcaption>2023 | Detroit, Michigan</figcaption>
        <a href=/creative_index/photography/2023_detroit>{% _image "detroit_5.jpg", "grand hall in a museum with dramatic lighting in black and white" %}</a>
    </div>
    <div class="col"><figcaption>2019–2023 | Utility Covers</figcaption>
        <a href=/creative_index/photography/utility_covers>{% _image "DET_8.jpg", "black and white photo of a utility cover" %}</a>
    </div>
    <div class="col"><figcaption>2022 | Finland</figcaption>
        <a href=/creative_index/photography/2022_finland>{% _image "finland_2022_12.jpg", "monument in shape of human figure with holes like swiss cheese" %}</a>
    </div> 
    <div class="col"><figcaption>2022 | French Doors</figcaption>
        <a href=/creative_index/photography/2023_03_12_french_doors>{% _image "IMG_2961_sortie_sized_bw.jpg", "image of a doorway in France" %}</a>
    </div> 
</div>
<div class="row"><div class="spacer"></div></div>
<div class="row">
      <div class="col"><figcaption>2020 | Painting</figcaption>
        <a href=/creative_index/prints_paintings/2022_end_one_way>{%_image "end_one_way.jpg", "abstract painting" %}</a>
      </div>
      <div class="col"><figcaption>Chicago</figcaption>
        {%_image "chicago.jpg", "abstract painting" %}
      </div> 
      <div class="col"><figcaption>Freeway</figcaption>
        {%_image "freeway.jpg", "abstract painting" %}
      </div> 
      <div class="col"><figcaption>Ground Floor</figcaption>
        {%_image "ground_floor.jpg", "abstract painting" %}
      </div>
        <div class="col"><figcaption>No Parking</figcaption>
            {%_image "exit_only.jpg", "abstract painting" %}
        </div>
</div>
<div class="row"><div class="spacer"></div></div>
<div class="row">
      <div class="col"><figcaption>2015–2016  |  Painting Series</figcaption>
        <a href="/creative_index/prints_paintings/2014_bhm">{%_image "bhm_01.jpg", "abstract painting" %}</a>
      </div>
      <div class="col"><figcaption>2008–2011 | Painting Series</figcaption>
        <a href="/creative_index/prints_paintings/2008_deus_ex_machina">{%_image "machina_1.jpg", "abstract painting" %}</a>
      </div>
      <div class="col"><figcaption>2009–2010 |  Painting Series</figcaption>
        <a href="/creative_index/prints_paintings/2009_vox_humana">{%_image "humana_1.jpg", "abstract painting" %}</a>
      </div>
      <div class="col"><figcaption>Existential Crisis</figcaption>
        {%_image "existential.jpg", "linocut print" %}
      </div>
      <div class="col"><figcaption>2005 | Strangers</figcaption>
        {%_image "strangers.jpg", "woodblock print" %}
      </div>
      <div class="col"><figcaption>2005 | Test Print</figcaption>
        {%_image "test_print_00.jpg", "woodblock print" %}
      </div>
</div>
<div class="row"><div class="spacer"></div></div>
<div class="row">
      <div class="col"><figcaption>2005 | Revival</figcaption>
        {%_image "revival.jpg", "woodblock print" %}
      </div>
      <div class="col"><figcaption>2003 | Holiday Print</figcaption>
        <a href="/creative_index/prints_paintings/2003_xmas">{%_image "xmas_p1.jpg", "linocut christmas print" %}</a>
      </div>
    <div class="col"><figcaption>2002 | Sloss Furnaces</figcaption>
        <a href=/creative_index/photography/2002_sloss>{% _image "sloss_photo_7.jpg", "blast furnace at Sloss Furnaces" %}</a>
    </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
</div>