<div class="row">
    <div class="col">
        <h3>Travel</h3>
        <p>Not quite documentarian, nor street photography, but my documentation of travels and visual interests.</p>
    </div>
    <div class="col">
        <a href=/art/photography/travel/2023_valparaiso>{% _image "valpo_1.jpg", "building with electrical wires in foreground in black and white" %}</a>
        <figcaption>Valparaiso, Chile</br>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        {% _image "santiago_1.jpg", "virgin mary statue at the top of cerro san cristobal in black and white" %}</a>
        <figcaption>Santiago de Chile</br>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        {% _image "mdz_1.jpg", "Museo de Ciencias Naturales y Antropológicas Juan Cornelio Moyano in black and white" %}</a>
        <figcaption>Menoza, Argentina</br>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        {% _image "sla_1.jpg", "corner of a small church in black and white" %}</a>
        <figcaption>Salta and the Quebrada de Humahuaca, Argentina</br>[ coming soon ]</figcaption>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col">
        {% _image "bae_1.jpg", "the courtyard of the esma in buenos aires seen through a window pane in black and white" %}</a>
        <figcaption>Buenos Aires, Argentina</br>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        {% _image "mvd_1.jpg", "palacio salvo in Montevideo at an angle with a palm tree in foreground in black and white" %}</a>
        <figcaption>Montevideo, Uruguay</br>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        <a href=/art/photography/travel/2023_detroit>{% _image "detroit_5.jpg", "grand hall in a museum with dramatic lighting in black and white" %}</a>
        <figcaption>Detroit</figcaption>
    </div>
    <div class="col">
        <a href=/art/photography/travel/2022_finland>{% _image "finland_2022_12.jpg", "monument in shape of human figure with holes like swiss cheese" %}</a>
        <figcaption>Finland</figcaption>
    </div> 
</div>
<div class="row">
    <div class="col"></div>
    <div class="col">
        <a href=/art/photography/travel/2023_03_12_french_doors>{% _image "IMG_2961_sortie_sized_bw.jpg", "image of a doorway in France" %}</a>
        <figcaption>French Doors</figcaption>
    </div> 
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>