<div class="row">
    <div class="col">
        <h3>Utility Covers</h3>
        <p>An exploration, fascination, obsession with(?) utitlity covers.</p>
    </div>
    <div class="col">
        <a href=/art/photography/utility/2023_detroit>{% _image "DET_1.jpg", "black and white photo of a utility cover" %}</a>
        <figcaption>Detroit</figcaption>    
    </div>
    <div class="col">
        <a href=/art/photography/utility/2019_barcelona>{% _image "bca_8.jpg", "black and white photo of a utility cover" %}</a>
        <figcaption>Barcelona</figcaption>    
    </div>
    <div class="col">
        <a href=/art/photography/utility/2019_zaragoza>{% _image "zga_2.jpeg", "black and white photo of a utility cover" %}</a>
        <figcaption>Zaragoza</figcaption>    
    </div> 
    <div class="col">
        <a href=/art/photography/utility/2019_madrid>{% _image "mad_1.jpg", "black and white photo of a utility cover" %}</a>
        <figcaption>Madrid</figcaption>    
    </div> 
</div>