<div class="row">
    <div class="col">
        <h3>Thematic Series</h3>
        <p>Industrial scenes, architectural spaces, and various interests</p>
    </div>
    <div class="col">
        <a href=/art/photography/thematic/2023_03_12_french_doors>{% _image "IMG_2961_sortie_sized_bw.jpg", "image of a doorway in France" %}</a>
        <figcaption>French Doors</figcaption>
    </div> 
    <div class="col">
        <a href=/art/photography/thematic/2002_sloss>{% _image "sloss_photo_7.jpg", "blast furnace at Sloss Furnaces" %}</a>
        <figcaption>Sloss Furnaces</figcaption>
    </div>
    <div class="col"></div> 
    <div class="col"></div>
</div>