<div class="row">
    <div class="col">
        <h3>Travel</h3>
        <p>Not quite documentarian, nor street photography, but my documentation of travels and visual interests.</p>
    </div>
    <div class="col">
        <a href=/art/photography/2023_detroit>{% _image "detroit_5.jpg", "grand hall in a museum with dramatic lighting in black and white" %}</a>
        <figcaption>Detroit</figcaption>
    </div>
    <div class="col">
        <a href=/art/photography/2022_finland>{% _image "finland_2022_12.jpg", "monument in shape of human figure with holes like swiss cheese" %}</a>
        <figcaption>Finland</figcaption>
    </div> 
    <div class="col">
        <a href=/art/photography/2023_03_12_french_doors>{% _image "IMG_2961_sortie_sized_bw.jpg", "image of a doorway in France" %}</a>
        <figcaption>French Doors</figcaption>
    </div> 
    <div class="col"></div>
</div>