<div class="row"><div class="tiny_spacer"></div></div>
<div class="row">
    <div class="col"><h3><figcaption><a href=/creative_index/photography/>Photography</a></figcaption></h3></div>
    <div class="col"><figcaption>2024 | Portland, Oregon</figcaption>
        <a href=/creative_index/photography/2024_portland>{% _image "portland_2024_12.jpg", "image of an industrial site in portland, oregon" %}</a>
    </div>
    <div class="col"><figcaption>2023 | Valparaiso, Chile</figcaption>
        <a href=/creative_index/photography/2023_valparaiso>{% _image "valpo_1.jpg", "building with electrical wires in foreground in black and white" %}</a>
    </div>
    <div class="col"><figcaption>2023 | Santiago de Chile</figcaption>
        {% _image "santiago_1.jpg", "virgin mary statue at the top of cerro san cristobal in black and white" %}</a>
    </div>
    <div class="col"><figcaption>2023 | Mendoza, Argentina</figcaption>
        {% _image "mdz_1.jpg", "Museo de Ciencias Naturales y Antropológicas Juan Cornelio Moyano in black and white" %}</a>
    </div>
    <div class="col"><figcaption>2023 | Salta, Argentina</figcaption>
        {% _image "sla_1.jpg", "corner of a small church in black and white" %}</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2023 | Buenos Aires, Argentina</figcaption>
        <a href=/creative_index/photography/2023_buenos_aires>{% _image "bae_1.jpg", "the courtyard of the esma in buenos aires seen through a window pane in black and white" %}</a>
    </div>
    <div class="col"><figcaption>2023 | Montevideo, Uruguay</figcaption>
        <a href=/creative_index/photography/2023_montevideo>{% _image "mvd_1.jpg", "palacio salvo in Montevideo at an angle with a palm tree in foreground in black and white" %}</a>
    </div>
    <div class="col"><figcaption>2023 | Detroit, Michigan</figcaption>
        <a href=/creative_index/photography/2023_detroit>{% _image "detroit_5.jpg", "grand hall in a museum with dramatic lighting in black and white" %}</a>
    </div>
    <div class="col"><figcaption>2023 | DET</figcaption>
        <a href=/creative_index/photography/2023_det>{% _image "DET_1.jpg", "black and white photo of a utility cover" %}</a>
    </div>
    <div class="col"><figcaption>2022 | Finland</figcaption>
        <a href=/creative_index/photography/2022_finland>{% _image "finland_2022_12.jpg", "monument in shape of human figure with holes like swiss cheese" %}</a>
    </div> 
    <div class="col"><figcaption>2022 | French Doors</figcaption>
        <a href=/creative_index/photography/2023_03_12_french_doors>{% _image "IMG_2961_sortie_sized_bw.jpg", "image of a doorway in France" %}</a>
    </div> 
</div>
<hr>
<div class="row">
    <div class="col"><figcaption>2019 | BCA</figcaption>
        <a href=/creative_index/photography/2019_bca>{% _image "bca_8.jpg", "black and white photo of a utility cover" %}</a>
    </div>
    <div class="col"><figcaption>2019 | ZGZ</figcaption>
        <a href=/creative_index/photography/2019_zgz>{% _image "zga_2.jpeg", "black and white photo of a utility cover" %}</a>
    </div> 
    <div class="col"><figcaption>2019 | MAD</figcaption>
        <a href=/creative_index/photography/2019_mad>{% _image "mad_1.jpg", "black and white photo of a utility cover" %}</a>
    </div> 
    <div class="col"><figcaption>2002 | Sloss Furnaces</figcaption>
        <a href=/creative_index/photography/2002_sloss>{% _image "sloss_photo_7.jpg", "blast furnace at Sloss Furnaces" %}</a>
    </div>
    <div class="col"></div>
    <div class="col"></div>
</div>