<div class="row"><div class="tiny_spacer"></div></div>
  <div class="row">
    <div class="col"><h3><figcaption><a href=/creative_index/prints_paintings/>Prints + Paintings</a></figcaption></h3></div>
      <div class="col"><figcaption>End One Way</figcaption>
        <a href=/creative_index/prints_paintings/2022_end_one_way>{%_image "end_one_way.jpg", "abstract painting" %}</a>
      </div>
      <div class="col"><figcaption>Chicago</figcaption>
        {%_image "chicago.jpg", "abstract painting" %}
      </div> 
      <div class="col"><figcaption>Freeway</figcaption>
        {%_image "freeway.jpg", "abstract painting" %}
      </div> 
      <div class="col"><figcaption>Ground Floor</figcaption>
        {%_image "ground_floor.jpg", "abstract painting" %}
      </div>
        <div class="col"><figcaption>No Parking</figcaption>
            {%_image "exit_only.jpg", "abstract painting" %}
        </div>
</div>
<div class="row">
      <div class="col"><figcaption>Deus Ex machina</figcaption>
        {%_image "machina_1.jpg", "abstract painting" %}
      </div>
      <div class="col"><figcaption>Vox Humana</figcaption>
        {%_image "humana_1.jpg", "abstract painting" %}
      </div>
      <div class="col"><figcaption>Sloss Furnaces</figcaption>
        {%_image "machina_2.jpg", "abstract painting" %}
      </div> 
      <div class="col"><figcaption>Sloss Worker</figcaption>
        {%_image "humana_2.jpg", "abstract painting" %}
      </div> 
      <div class="col"><figcaption>Sloss Furnaces</figcaption>
        {%_image "machina_3.jpg", "abstract painting" %}
      </div> 
      <div class="col"><figcaption>Sloss Worker</figcaption>
        {%_image "humana_3.jpg", "abstract painting" %}
      </div> 
</div>
<div class="row">
      <div class="col"><figcaption>Sloss Furnaces</figcaption>
        {%_image "machina_4.jpg", "abstract painting" %}
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
</div>