<div class="row"><div class="tiny_spacer"></div></div>
  <div class="row">
    <div class="col"><h3><figcaption><a href=/creative_index/prints_paintings/>Prints + Paintings</a></figcaption></h3></div>
      <div class="col"><figcaption>2020 | Painting</figcaption>
        <a href=/creative_index/prints_paintings/2022_end_one_way>{%_image "end_one_way.jpg", "abstract painting" %}</a>
      </div>
      <div class="col"><figcaption>Chicago</figcaption>
        {%_image "chicago.jpg", "abstract painting" %}
      </div> 
      <div class="col"><figcaption>Freeway</figcaption>
        {%_image "freeway.jpg", "abstract painting" %}
      </div> 
      <div class="col"><figcaption>Ground Floor</figcaption>
        {%_image "ground_floor.jpg", "abstract painting" %}
      </div>
        <div class="col"><figcaption>No Parking</figcaption>
            {%_image "exit_only.jpg", "abstract painting" %}
        </div>
</div>
<div class="row">
      <div class="col"><figcaption>2015–2016  |  Painting Series</figcaption>
        <a href="/creative_index/prints_paintings/2014_bhm">{%_image "bhm_01.jpg", "abstract painting" %}</a>
      </div>
      <div class="col"><figcaption>2008–2011 | Painting Series</figcaption>
        <a href="/creative_index/prints_paintings/2008_deus_ex_machina">{%_image "machina_1.jpg", "abstract painting" %}</a>
      </div>
      <div class="col"><figcaption>2009–2010 |  Painting Series</figcaption>
        <a href="/creative_index/prints_paintings/2009_vox_humana">{%_image "humana_1.jpg", "abstract painting" %}</a>
      </div>
      <div class="col"><figcaption>Existential Crisis</figcaption>
        {%_image "existential.jpg", "linocut print" %}
      </div>
      <div class="col"><figcaption>2005 | Strangers</figcaption>
        {%_image "strangers.jpg", "woodblock print" %}
      </div>
      <div class="col"><figcaption>2005 | Test Print</figcaption>
        {%_image "test_print_00.jpg", "woodblock print" %}
      </div>
</div>
<div class="row">
      <div class="col"><figcaption>2005 | Revival</figcaption>
        {%_image "revival.jpg", "woodblock print" %}
      </div>
      <div class="col"><figcaption>2003 | Holiday Print</figcaption>
        <a href="/creative_index/prints_paintings/2003_xmas">{%_image "xmas_p1.jpg", "linocut christmas print" %}</a>
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
</div>
<div class="row">
</div>