<div class="row">
    <div class="col"></div>        
    <div class="col">
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>