<div class="row"></div>
	<div class="row">
		<div class="col">
            <h1>AVN - LYS</h1>
			<figcaption>Avingon, Lyon, and Provence, France</br>2022</br></br><a href="#top">▲</a></figcaption>
        </div>
        <div class="col">
			{% _image "avignon-1.jpg", "black and white image of a utility cover" %}
			<figcaption>AVN | Avignon · 43° 57' 0.732" N · 4° 48' 27.588" E</figcaption>
		</div>
        <div class="col">
        	{% _image "avignon-2.jpg", "black and white image of a utility cover" %}
			<figcaption>AVN | Avignon · 43° 56' 53.922" N · 4° 48' 29.61" E</figcaption>
        </div>
	</div>
	<div class="row">
		<div class="col">
			{% _image "avignon-3.jpg", "black and white image of a utility cover" %}
			<figcaption>AVN | Avignon · 43° 56' 56.13" N · 4° 48' 17.382" E</figcaption>
			</br></br>
			{% _image "avignon-4.jpg", "black and white image of a utility cover" %}
			<figcaption>AVN | Avignon · 43° 56' 58.242" N · 4° 48' 28.068" E</figcaption>
			</br></br>
			{% _image "avignon-5.jpg", "black and white image of a utility cover" %}
			<figcaption>AVN | Avignon · 43° 57' 2.742" N · 4° 48' 23.952" E</figcaption>
			</br></br>
			{% _image "avignon-6.jpg", "black and white image of a utility cover" %}
			<figcaption>AVN | Avignon · 43° 56' 56.232" N · 4° 48' 29.868" E</figcaption>
			</br></br>
			{% _image "vivier-1.jpg", "black and white image of a utility cover" %}
			<figcaption>AVN | Vivier · 44° 28' 51.39" N · 4° 41' 26.172" E</figcaption>
			</br></br>
			{% _image "fleurie-1.jpg", "black and white image of a utility cover" %}
			<figcaption>LYS | Fleurie · 46° 11' 33.438" N · 4° 41' 51.432" E</figcaption>
			</br></br>
			{% _image "fleurie-2.jpg", "black and white image of a utility cover" %}
			<figcaption>LYS | Fleurie · 46° 11' 31.89" N · 4° 41' 49.212" E</figcaption>
			</br></br>
			{% _image "lyon-1.jpg", "black and white image of a utility cover" %}
			<figcaption>LYS | Lyon  · 45° 45' 15.408" N · 4° 49' 32.772" E</figcaption>
			</br></br>
			{% _image "lyon-2.jpg", "black and white image of a utility cover" %}
			<figcaption>LYS | Lyon  · 45° 45' 13.458" N · 4° 49' 58.02" E</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "avignon-7.jpg", "black and white image of a utility cover" %}
			<figcaption>AVN | Avignon · 43° 56' 52.968" N · 4° 48' 35.742" E</figcaption>
			</br></br>
			{% _image "avignon-8.jpg", "black and white image of a utility cover" %}
			<figcaption>AVN | Avignon · 43° 56' 56.16" N · 4° 48' 14.88" E</figcaption>
			</br></br>
			{% _image "avignon-9.jpg", "black and white image of a utility cover" %}
			<figcaption>AVN | Avignon · 43° 56' 56.352" N · 4° 48' 12.57" E</figcaption>
			</br></br>
			{% _image "arles-1.jpg", "black and white image of a utility cover" %}
			<figcaption>AVN | Arles · 43° 40' 48.15" N · 4° 37' 51.948" E</figcaption>
			</br></br>
			{% _image "vivier-2.jpg", "black and white image of a utility cover" %}
			<figcaption>AVN | Vivier· 44° 28' 51.72" N · 4° 41' 24.66" E</figcaption>
			</br></br>
			{% _image "st-remy-1.jpg", "black and white image of a utility cover" %}
			<figcaption>AVN | Saint Rémy · 43° 47' 20.802" N · 4° 49' 54.33" E</figcaption>
			</br></br>
			{% _image "tain-1.jpg", "black and white image of a utility cover" %}
			<figcaption>LYS | Tain-l'Hermitage · 45° 4' 15.35" N · 4° 50' 35.028" E</figcaption>
			</br></br>
			{% _image "lyon-4.jpg", "black and white image of a utility cover" %}
			<figcaption>LYS | Lyon· 45° 45' 44.988" N · 4° 49' 20.892" E</figcaption>
			</br></br>
			{% _image "lyon-5.jpg", "black and white image of a utility cover" %}
			<figcaption>LYS | Lyon· 45° 45' 48.24" N · 4° 50' 3.648" E</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "arles-2.jpg", "black and white image of a utility cover" %}
			<figcaption>AVN | Arles · 43° 40' 37.062" N · 4° 37' 40.638" E</figcaption>
			</br></br>
			{% _image "arles-3.jpg", "black and white image of a utility cover" %}
			<figcaption>AVN | Arles · 43° 40' 34.17" N · 4° 37' 37.068" E</figcaption>
			</br></br>
			{% _image "arles-4.jpg", "black and white image of a utility cover" %}
			<figcaption>AVN | Arles · 43° 40' 51.828" N · 4° 37' 53.088" E</figcaption>
			</br></br>
			{% _image "arles-5.jpg", "black and white image of a utility cover" %}
			<figcaption>AVN | Arles · 43° 40' 35.682" N · 4° 37' 33.072" E</figcaption>
			</br></br>
			{% _image "lyon-3.jpg", "black and white image of a utility cover" %}
			<figcaption>LYS | Lyon · 45° 45' 14.85" N · 4° 49' 53.862" E</figcaption>
			</br></br>
			{% _image "vienne-1.jpg", "black and white image of a utility cover" %}
			<figcaption>LYS | Vienne · 45° 31' 25.47" N · 4° 52' 20.25" E</figcaption>
			</br></br>
			{% _image "vienne-2.jpg", "black and white image of a utility cover" %}
			<figcaption>LYS | Vienne · 45° 31' 31.308" N · 4° 52' 28.332" E</figcaption>
			</br></br>
			{% _image "vienne-3.jpg", "black and white image of a utility cover" %}
			<figcaption>LYS | Vienne · 45° 31' 31.968" N · 4° 52' 28.302" E</figcaption>
			</br></br>
			{% _image "vienne-4.jpg", "black and white image of a utility cover" %}
			<figcaption>LYS | Vienne · 45° 31' 32.292" N · 4° 52' 45.36" E</figcaption>
			</br></br>
		</div>
	</div>