<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>BAE</h1>
		<figcaption>Buenos Aires, Argentina</br>2023</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
			{% _image "bae-utility-1.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 35' 38.388" S · 58° 25' 22.692" W</figcaption>
	</div>
    <div class="col">
			{% _image "bae-utility-2.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 34' 56.25" S · 58° 24' 37.242" W</figcaption>
    </div>
</div>
	<div class="row">
		<div class="col">
			{% _image "bae-utility-3.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 35' 17.202" S · 58° 23' 32.472" W</figcaption>
			</br></br>
			{% _image "bae-utility-4.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 35' 24.03" S · 58° 23' 30.93" W</figcaption>
			</br></br>
			{% _image "bae-utility-5.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 35' 24.978" S · 58° 23' 29.748" W</figcaption>
			</br></br>
			{% _image "bae-utility-6.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 34' 43.2" S · 58° 24' 7.668" W</figcaption>
			</br></br>
			{% _image "bae-utility-7.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 34' 35.592" S · 58° 24' 16.98" W</figcaption>
			</br></br>
			{% _image "bae-utility-8.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 34' 35.508" S · 58° 24' 16.758" W</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "bae-utility-9.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 34' 38.898" S · 58° 24' 12.93" W</figcaption>
			</br></br>
			{% _image "bae-utility-10.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 34' 57.69" S · 58° 25' 25.188" W</figcaption>
			</br></br>
			{% _image "bae-utility-11.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 32' 11.73" S · 58° 27' 58.368" W</figcaption>
			</br></br>
			{% _image "bae-utility-12.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 32' 13.758" S · 58° 27' 56.502" W</figcaption>
			</br></br>
    		{% _image "bae-utility-13.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 32' 19.992" S · 58° 27' 53.34" W</figcaption>
			</br></br>
			{% _image "bae-utility-14.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 35' 5.58" S · 58° 23' 39.582" W</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "bae-utility-15.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 36' 11.85" S · 58° 22' 40.998" W</figcaption>
			</br></br>
			{% _image "bae-utility-16.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 36' 29.52" S · 58° 22' 23.22" W</figcaption>
			</br></br>
			{% _image "bae-utility-17.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 36' 31.728" S · 58° 22' 20.442" W</figcaption>
			</br></br>
			{% _image "bae-utility-18.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 35' 15.762" S · 58° 26' 3.618" W</figcaption>
			</br></br>
			{% _image "bae-utility-19.jpg", "black and white image of a utility cover" %}
			<figcaption>BAE · 34° 35' 11.412" S · 58° 25' 43.8" W</figcaption>
			</br></br>
		</div>
	</div>