<div class="row"></div>
	<div class="row">
		<div class="col">
			<h1>BCA</h1>
			<figcaption>Barcelona, Spain</br>2019</br></br><a href="#top">▲</a></figcaption>
		</div>
		<div class="col">
			{% _image "bca_1.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 23' 27.93" N · 2° 10' 13.398" E</figcaption>
		</div>
		<div class="col">
			{% _image "bca_2.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 23' 31.542" N · 2° 9' 53.63" E</figcaption>
		</div>
	</div>
	<div class="row">
		<div class="col">
			{% _image "bca_3.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 23' 38.172" N · 2° 9' 45.14" E</figcaption>
			</br></br>
			{% _image "bca_4.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 23' 40.35" N · 2° 9' 42.89" E</figcaption>
			</br></br>
			{% _image "bca_5.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 23' 38.718" N · 2° 9' 33.89" E</figcaption>
			</br></br>
			{% _image "bca_6.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 23' 34.17" N · 2° 9' 39.56" E</figcaption>
			</br></br>
			{% _image "bca_7.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 22' 54.462" N · 2° 10' 16.698" E</figcaption>
			</br></br>
			{% _image "bca_8.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 22' 42.828" N · 2° 10' 20.868" E</figcaption>
			</br></br>
			{% _image "bca_9.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 22' 33.36" N · 2° 10' 6.882" E</figcaption>
			</br></br>
			{% _image "bca_10.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 23' 19.38" N · 2° 10' 47.358" E</figcaption>
			</br></br>
			{% _image "bca_11.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 22' 59.718" N · 2° 10' 2.922" E</figcaption>
		</div>
		<div class="col">
			{% _image "bca_12.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 23' 0.342" N · 2° 9' 58.07" E</figcaption>
			</br></br>
			{% _image "bca_13.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 22' 55.998" N · 2° 10' 9.348" E</figcaption>
			</br></br>
			{% _image "bca_14.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 23' 30.738" N · 2° 10' 51.582" E</figcaption>
			</br></br>
			{% _image "bca_15.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 23' 28.932" N · 2° 10' 49.17" E</figcaption>
			</br></br>
			{% _image "bca_16.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 23' 27.858" N · 2° 10' 47.94" E</figcaption>
			</br></br>
			{% _image "bca_17.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 23' 8.478" N · 2° 10' 12.36" E</figcaption>
			</br></br>
			{% _image "bca_18.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 23' 5.538" N · 2° 9' 59.8" E</figcaption>
			</br></br>
			{% _image "bca_19.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 22' 45.93" N · 2° 9' 43.66" E</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "bca_20.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 22' 35.292" N · 2° 9' 28.83" E</figcaption>
			</br></br>
			{% _image "bca_21.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 22' 3.672" N · 2° 9' 23.53" E</figcaption>
			</br></br>
			{% _image "bca_22.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 22' 9.138" N · 2° 9' 24.82" E</figcaption>
			</br></br>
			{% _image "bca_23.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 22' 5.28" N · 2° 9' 23.17" E</figcaption>
			</br></br>
			{% _image "bca_24.jpg", "black and white image of a utility cover" %}
			<figcaption></figcaption>
			</br>BCA · 41° 22' 3.84" N · 2° 9' 32.93" E</br>
			{% _image "bca_25.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 21' 58.29" N · 2° 9' 9.33" E</figcaption>
			</br></br>
			{% _image "bca_26.jpg", "black and white image of a utility cover" %}
			<figcaption>BCA · 41° 23' 35.04" N · 2° 8' 41.82" E</figcaption>
			</br></br>
			{% _image "bca_27.jpg", "black and white image of a utility cover" %}
			<figcaption>41° 24' 8.808" N · 2° 11' 25.278" E</figcaption>
			</br></br>
		</div>
</div>