<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>BER</h1>
		<figcaption>Berlin, Germany</br>2014 · 2018 · 2021</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
			{% _image "ber-1.jpg", "black and white image of a utility cover" %}
			<figcaption>BER · 52° 31' 13.698" N · 13° 23' 57.408" E</figcaption>
	</div>
    <div class="col">
			{% _image "ber-2.jpg", "black and white image of a utility cover" %}
			<figcaption>BER · 52° 30' 50.658" N · 13° 23' 30.36" E</figcaption>
    </div>
</div>
	<div class="row">
		<div class="col">
			{% _image "ber-3.jpg", "black and white image of a utility cover" %}
			<figcaption>BER · 52° 30' 50.85" N · 13° 23' 32.358" E</figcaption>
			</br></br>
			{% _image "ber-4.jpg", "black and white image of a utility cover" %}
			<figcaption>BER · 52° 28' 45.66" N · 13° 25' 44.658" E</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "ber-5.jpg", "black and white image of a utility cover" %}
			<figcaption>BER · 52° 30' 17.502" N · 13° 20' 5.28" E</figcaption>
			</br></br>
			{% _image "ber-6.jpg", "black and white image of a utility cover" %}
			<figcaption>BER · 52° 30' 31.32" N · 13° 22' 9.582" E</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "ber-7.jpg", "black and white image of a utility cover" %}
			<figcaption>BER · 52° 25' 10.962" N · 13° 4' 14.93" E</figcaption>
			</br></br>
			{% _image "ber-8.jpg", "black and white image of a utility cover" %}
			<figcaption>BER · 52° 30' 31.818" N · 13° 22' 31.752" E</figcaption>
			</br></br>
		</div>
	</div>