<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>BHM</h1>
		<figcaption>Birmingham, Alabama</br>2014-2018</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
			{% _image "bhm-utility-1.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 31' 21.0" N · 86° 48' 40.2" W</figcaption>
	</div>
    <div class="col">
    		{% _image "bhm-utility-2.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 31' 20.4" N · 86° 48' 43.2" W</figcaption>
    </div>
</div>
	<div class="row">
		<div class="col">
			{% _image "bhm-utility-3.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 42.6" N · 86° 48' 21.6" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-4.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 44.4" N · 86° 48' 18.0" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-5.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 59.298" N · 86° 48' 18.768" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-6.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 37.2" N · 86° 48' 49.8" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-7.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 31' 0.0" N · 86° 48' 25.2" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-8.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 53.79" N · 86° 48' 35.58" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-9.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 52.02" N · 86° 48' 34.368" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-10.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 44.982" N · 86° 48' 21.462" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-11.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 50.142" N · 86° 48' 18.138" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-12.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 55.59" N · 86° 48' 30.222" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-13.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 50.94" N · 86° 48' 36.348" W</figcaption> 	
			</br></br>
		</div>
		<div class="col">
			{% _image "bhm-utility-14.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 47.562" N · 86° 48' 31.512" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-15.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 30.942" N · 86° 48' 39.372" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-16.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 44.028" N · 86° 48' 16.848" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-17.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 55.578" N · 86° 48' 21.6" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-18.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 56.73" N · 86° 48' 19.398" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-19.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 34.332" N · 86° 48' 34.482" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-20.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 59.832" N · 86° 48' 17.178" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-21.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 58.158" N · 86° 48' 32.832" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-22.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 31' 0.588" N · 86° 47' 54.738" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-23.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 31' 3.342" N · 86° 48' 34.842" W</figcaption> 	
			</br></br>
		</div>
		<div class="col">
			{% _image "bhm-utility-24.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 43.152" N · 86° 48' 13.44" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-25.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 31' 2.538" N · 86° 48' 14.598" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-26.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 55.512" N · 86° 48' 21.96" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-27.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 31' 19.008" N · 86° 48' 32.34" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-28.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 39.228" N · 86° 48' 46.788" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-29.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 31' 11.928" N · 86° 48' 41.538" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-30.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 31' 11.268" N · 86° 48' 39.528" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-31.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 30' 49.38" N · 86° 48' 19.35" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-32.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 31' 20.628" N · 86° 48' 44.622" W</figcaption> 	
			</br></br>
			{% _image "bhm-utility-33.jpg", "black and white image of a utility cover" %}
			<figcaption>BHM · 33° 31' 2.4" N · 86° 48' 14.16" W</figcaption> 	
			</br></br>
		</div>
	</div>