<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>BOM</h1>
		<figcaption>Mumbai [Bombay], India</br>2024</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
	</div>
    <div class="col">
			{% _image "bom-1.jpg", "black and white image of a utility cover" %}
			<figcaption>BOM · 18° 57' 17.37" N · 72° 48' 51.372" E</figcaption>
    </div>
</div>
