<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>MEX</h1>
		<figcaption>Mexico City</br>2019</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
			{% _image "CDMX-1.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 26' 5.298" N · 99° 8' 1.04" W</figcaption>
	</div>
    <div class="col">
    		{% _image "CDMX-13.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 20' 49.02" N · 99° 9' 56.86" W</figcaption>
    </div>
</div>
	<div class="row">
		<div class="col">
			{% _image "CDMX-2.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 26' 5.808" N · 99° 7' 55.98" W</figcaption>
			</br></br>
			{% _image "CDMX-3.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 25' 54.348" N · 99° 8' 3.32" W</figcaption>
			</br></br>
			{% _image "CDMX-4.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 25' 47.442" N · 99° 8' 20.21" W</figcaption>
			</br></br>
			{% _image "CDMX-11.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 21' 5.25" N · 99° 10' 10.098" W</figcaption>
			</br></br>
			{% _image "CDMX-14.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 25' 4.86" N · 99° 10' 29.43" W</figcaption>
			</br></br>
			{% _image "CDMX-15.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 24' 29.19" N · 99° 10' 4.662" W</figcaption>
			</br></br>
			{% _image "CDMX-16.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 25' 22.878" N · 99° 11' 14.262" W</figcaption>
		</div>
		<div class="col">
			{% _image "CDMX-5.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 26' 8.928" N · 99° 8' 26.36" W</figcaption>
			</br></br>
			{% _image "CDMX-6.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 26' 9.552" N · 99° 8' 22.71" W</figcaption>
			</br></br>
			{% _image "CDMX-7.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 26' 12.36" N · 99° 8' 24.16" W</figcaption>
			</br></br>
			{% _image "CDMX-12.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 21' 1.71" N · 99° 10' 12.27" W</figcaption>
			</br></br>
			{% _image "CDMX-17.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 26' 8.91" N · 99° 7' 58.62" W</figcaption>
			</br></br>
			{% _image "CDMX-18.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 26' 6.852" N · 99° 7' 53.73" W</figcaption>
		</div>
		<div class="col">
			{% _image "CDMX-8.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 26' 18.69" N · 99° 7' 58.95" W</figcaption>
			</br></br>
			{% _image "CDMX-9.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 25' 9.192" N · 99° 9' 21.73" W</figcaption>
			</br></br>
			{% _image "CDMX-10.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 21' 7.548" N · 99° 10' 9.69" W</figcaption>
			</br></br>
			{% _image "CDMX-13.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 20' 49.02" N · 99° 9' 56.86" W</figcaption>
			</br></br>
			{% _image "CDMX-19.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 26' 8.37" N · 99° 7' 50.68" W</figcaption>
			</br></br>
			{% _image "CDMX-20.jpg", "black and white image of a utility cover" %}
			<figcaption>MEX · 19° 26' 7.41" N · 99° 7' 53.59" W</figcaption>
		</div>
	</div>