<div class="row"></div>
	<div class="row">
		<div class="col">
            <h1>CGN</h1>
			<figcaption>Cologne, Germany</br>2021</br></br><a href="#top">▲</a></figcaption>
        </div>
        <div class="col">
			{% _image "cgn-1.jpg", "black and white image of a utility cover" %}
			<figcaption>CGN | Cologne · 50° 56' 18.69" N · 6° 57' 45.24" E</figcaption>
			</br></br>
		</div>
        <div class="col">
			{% _image "cgn-2.jpg", "black and white image of a utility cover" %}
			<figcaption>CGN | Cologne · 50° 56' 26.952" N · 6° 57' 22.488" E</figcaption>
			</br></br>
        </div>
	</div>
	<div class="row">
		<div class="col">
			{% _image "cgn-3.jpg", "black and white image of a utility cover" %}
			<figcaption>CGN | Cologne · 50° 56' 17.682" N · 6° 57' 45.012" E</figcaption>
			</br></br>
		</div>
		<div class="col">
		</div>
		<div class="col">
		</div>
	</div>