<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>DRS</h1>
		<figcaption>Dresden, Germany</br>2021</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
			{% _image "drs-1.jpg", "black and white image of a utility cover" %}
			<figcaption>DRS · 51° 3' 8.91" N · 13° 44' 15.75" E</figcaption>
	</div>
    <div class="col">
			{% _image "drs-2.jpg", "black and white image of a utility cover" %}
			<figcaption>DRS · 51° 3' 12.22" N · 13° 44' 18.522" E</figcaption>
    </div>
</div>
	<div class="row">
		<div class="col">
			{% _image "drs-3.jpg", "black and white image of a utility cover" %}
			<figcaption>DRS · 51° 3' 5.97" N · 13° 44' 24.9" E</figcaption>
			</br></br>
			{% _image "drs-4.jpg", "black and white image of a utility cover" %}
			<figcaption>DRS · 51° 3' 5.98" N · 13° 44' 24.912" E</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "drs-5.jpg", "black and white image of a utility cover" %}
			<figcaption>DRS · 51° 3' 12.59" N · 13° 44' 19.752" E</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "drs-6.jpg", "black and white image of a utility cover" %}
			<figcaption>DRS · 51° 3' 6.77" N · 13° 44' 13.218" E</figcaption>
			</br></br>
		</div>
	</div>