<div class="row"></div>
	<div class="row">
		<div class="col">
            <h1>FRA</h1>
			<figcaption>Frankfurt and Rheinland, Germany</br>2021</br></br><a href="#top">▲</a></figcaption>
        </div>
        <div class="col">
			{% _image "fra-1.jpg", "black and white image of a utility cover" %}
			<figcaption>FRA | Frankfurt · 50° 6' 51.42" N · 8° 41' 0.588" E</figcaption>
		</div>
        <div class="col">
        	{% _image "fra-2.jpg", "black and white image of a utility cover" %}
			<figcaption>FRA | Frankfurt · 50° 6' 49.46" N · 8° 40' 14.712" E</figcaption>
        </div>
	</div>
	<div class="row">
		<div class="col">
			{% _image "rhine-oberwesel.jpg", "black and white image of a utility cover" %}
			<figcaption>FRA | Oberwesel · 50° 6' 29.25" N · 7° 43' 31.632" E</figcaption>
			</br></br>
			{% _image "rhine-boppard-1.jpg", "black and white image of a utility cover" %}
			<figcaption>FRA | Boppard · 50° 13' 57.87" N · 7° 35' 12.192" E</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "rhine-moselkern-1.jpg", "black and white image of a utility cover" %}
			<figcaption>FRA | Moselkern · 50° 11' 38.682" N · 7° 21' 34.71" E</figcaption>
			</br></br>
			{% _image "rhine-moselkern-2.jpg", "black and white image of a utility cover" %}
			<figcaption>FRA | Moselkern · 50° 11' 38.772" N · 7° 21' 34.848" E</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "rhine-cochem-1.jpg", "black and white image of a utility cover" %}
			<figcaption>FRA | Cochem · 50° 9' 11.62" N · 7° 10' 1.362" E</figcaption>
			</br></br>
			{% _image "rhine-cochem-2.jpg", "black and white image of a utility cover" %}
			<figcaption>FRA | Cochem · 50° 8' 43.4" N · 7° 9' 57.34" E</figcaption>
			</br></br>
		</div>
	</div>