<div class="row"></div>
	<div class="row">
		<div class="col">
            <h1>GVA</h1>
			<figcaption>Geneva, Switzerland</br>2022</br></br><a href="#top">▲</a></figcaption>
        </div>
        <div class="col">
			{% _image "geneva-1.jpg", "black and white image of a utility cover" %}
			<figcaption>GVA · 46° 13' 28.032" N · 6° 6' 26.45" E</figcaption>
		</div>
        <div class="col">
        	{% _image "geneva-11.jpg", "black and white image of a utility cover" %}
			<figcaption>GVA · 46° 13' 5.652" N · 6° 6' 36.6" E</figcaption>
        </div>
	</div>
	<div class="row">
		<div class="col">
			{% _image "geneva-2.jpg", "black and white image of a utility cover" %}
			<figcaption>GVA · 46° 13' 17.4" N · 6° 6' 36.95" E</figcaption>
			</br></br>
			{% _image "geneva-3.jpg", "black and white image of a utility cover" %}
			<figcaption>GVA · 46° 13' 23.238" N · 6° 6' 34.77" E</figcaption>
			</br></br>
			{% _image "geneva-4.jpg", "black and white image of a utility cover" %}
			<figcaption>GVA · 46° 13' 23.538" N · 6° 6' 34.13" E</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "geneva-5.jpg", "black and white image of a utility cover" %}
			<figcaption>GVA · 46° 13' 12.582" N · 6° 7' 11.23" E</figcaption>
			</br></br>
			{% _image "geneva-6.jpg", "black and white image of a utility cover" %}
			<figcaption>GVA · 46° 12' 37.842" N · 6° 8' 20.86" E</figcaption>
			</br></br>
			{% _image "geneva-10.jpg", "black and white image of a utility cover" %}
			<figcaption>GVA · 46° 12' 36.93" N · 6° 7' 2.97" E</figcaption>
		</div>
		<div class="col">
			{% _image "geneva-7.jpg", "black and white image of a utility cover" %}
			<figcaption>GVA · 46° 12' 25.122" N · 6° 8' 50.53" E</figcaption>
			</br></br>
			{% _image "geneva-8.jpg", "black and white image of a utility cover" %}
			<figcaption>GVA · 46° 13' 24.72" N · 6° 8' 39.91" E</figcaption>
			</br></br>
			{% _image "geneva-9.jpg", "black and white image of a utility cover" %}
			<figcaption>GVA · 46° 11' 57.558" N · 6° 8' 53.79" E</figcaption>
		</div>
	</div>