<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>HEL</h1>
		<figcaption>Helsinki, Finland</br>2022</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
			{% _image "HEL-12.jpg", "black and white image of a utility cover" %}
			<figcaption>HEL · 60° 10' 6.228" N · 24° 56' 48.81" E</figcaption>
	</div>
    <div class="col">
			{% _image "HEL-1.jpg", "black and white image of a utility cover" %}
			<figcaption>HEL · 60° 10' 7.932" N · 24° 56' 50.58" E</figcaption>
    </div>
</div>
	<div class="row">
		<div class="col">
			{% _image "HEL-2.jpg", "black and white image of a utility cover" %}
			<figcaption>HEL · 60° 10' 8.4" N · 24° 56' 52.71" E</figcaption>
			</br></br>
			{% _image "HEL-3.jpg", "black and white image of a utility cover" %}
			<figcaption>HEL · 60° 9' 49.6" N · 24° 56' 33.588" E</figcaption>
			</br></br>
			{% _image "HEL-4.jpg", "black and white image of a utility cover" %}
			<figcaption>HEL · 60° 8' 55.19" N · 24° 59' 0.792" E</figcaption>
			</br></br>
			{% _image "HEL-11.jpg", "black and white image of a utility cover" %}
			<figcaption>HEL · 60° 10' 4.5" N · 24° 56' 55.488" E</figcaption>
		</div>
		<div class="col">
			{% _image "HEL-5.jpg", "black and white image of a utility cover" %}
			<figcaption>HEL · 60° 10' 11.94" N · 24° 57' 4.29" E</figcaption>
			</br></br>
			{% _image "HEL-6.jpg", "black and white image of a utility cover" %}
			<figcaption>HEL · 60° 9' 49.58" N · 24° 56' 33.78" E</figcaption>
			</br></br>
			{% _image "HEL-7.jpg", "black and white image of a utility cover" %}
			<figcaption>HEL · 60° 10' 3.888" N · 24° 56' 57.588" E</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "HEL-8.jpg", "black and white image of a utility cover" %}
			<figcaption>HEL · 60° 10' 8.928" N · 24° 57' 19.362" E</figcaption>
			</br></br>
			{% _image "HEL-9.jpg", "black and white image of a utility cover" %}
			<figcaption>HEL · 60° 10' 3.192" N · 24° 56' 58.878" E</figcaption>
			</br></br>
			{% _image "HEL-10.jpg", "black and white image of a utility cover" %}
			<figcaption>HEL · 60° 9' 54.83" N · 24° 56' 34.488" E</figcaption>
		</div>
	</div>