<div class="row"></div>
	<div class="row">
		<div class="col">
            <h1 id="MAD">MAD</h1>
			<figcaption>Madrid, Spain</br>2019</figcaption>
        </div>
        <div class="col">
			{% _image "mad_1.jpg", "black and white image of a utility cover" %}
			<figcaption></figcaption>
		</div>
        <div class="col">
        	{% _image "mad_9.jpg", "black and white image of a utility cover" %}
			<figcaption></figcaption>
        </div>
	</div>
	<div class="row">
		<div class="col">
			{% _image "mad_2.jpg", "black and white image of a utility cover" %}
			<figcaption></figcaption>
			</br></br>
			{% _image "mad_3.jpg", "black and white image of a utility cover" %}
			<figcaption></figcaption>
			</br></br>
			{% _image "mad_4.jpg", "black and white image of a utility cover" %}
			<figcaption></figcaption>
		</div>
		<div class="col">
			{% _image "mad_5.jpg", "black and white image of a utility cover" %}
			<figcaption></figcaption>
			</br></br>
			{% _image "mad_6.jpg", "black and white image of a utility cover" %}
			<figcaption></figcaption>
		</div>
		<div class="col">
			{% _image "mad_7.jpg", "black and white image of a utility cover" %}
			<figcaption></figcaption>
			</br></br>
			{% _image "mad_8.jpg", "black and white image of a utility cover" %}
			<figcaption></figcaption>
			</br></br>
		</div>
	</div>