<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>MCI</h1>
		<figcaption>Kansas City, Missouri</br>2025</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
			{% _image "mci-1.jpg", "black and white image of a utility cover" %}
			<figcaption>MCI · 38° 59' 50.718" N · 94° 36' 24.378" W</figcaption>
	</div>
	<div class="col">
			{% _image "mci-2.jpg", "black and white image of a utility cover" %}
			<figcaption>MCI · 38° 59' 47.538" N · 94° 36' 20.352" W</figcaption>
			</br></br>
	</div>
</div>
	<div class="row">
		<div class="col">
			{% _image "mci-3.jpg", "black and white image of a utility cover" %}
			<figcaption>MCI · 38° 59' 45.678" N · 94° 35' 46.998" W</figcaption>
			</br></br>
			{% _image "mci-4.jpg", "black and white image of a utility cover" %}
			<figcaption>MCI · 38° 59' 46.452" N · 94° 35' 59.28" W</figcaption>
			</br></br>
			{% _image "mci-5.jpg", "black and white image of a utility cover" %}
			<figcaption>MCI · 38° 59' 46.932" N · 94° 36' 3.648" W</figcaption>
			</br></br>
			{% _image "mci-13.jpg", "black and white image of a utility cover" %}
			<figcaption>MCI · 39° 2' 32.23" N · 94° 35' 18.768" W</figcaption>
		</div>
		<div class="col">
			{% _image "mci-6.jpg", "black and white image of a utility cover" %}
			<figcaption>MCI · 38° 59' 47.28" N · 94° 36' 15.18" W</figcaption>
			</br></br>
			{% _image "mci-7.jpg", "black and white image of a utility cover" %}
			<figcaption>MCI · 39° 2' 30.47" N · 94° 35' 26.178" W</figcaption>
			</br></br>
			{% _image "mci-8.jpg", "black and white image of a utility cover" %}
			<figcaption>MCI · 39° 2' 31.41" N · 94° 35' 26.268" W</figcaption>
			</br></br>
			{% _image "mci-9.jpg", "black and white image of a utility cover" %}
			<figcaption>MCI · 39° 2' 31.83" N · 94° 35' 26.79" W</figcaption>
		</div>
		<div class="col">
			{% _image "mci-10.jpg", "black and white image of a utility cover" %}
			<figcaption>MCI · 39° 2' 32.82" N · 94° 35' 24.918" W</figcaption>
			</br></br>
			{% _image "mci-11.jpg", "black and white image of a utility cover" %}
			<figcaption>MCI · 39° 2' 32.37" N · 94° 35' 25.248" W</figcaption>
			</br></br>
			{% _image "mci-12.jpg", "black and white image of a utility cover" %}
			<figcaption>MCI · 39° 2' 32.33" N · 94° 35' 22.422" W</figcaption>
			</br></br>
			{% _image "mci-14.jpg", "black and white image of a utility cover" %}
			<figcaption>MCI · 39° 2' 31.97" N · 94° 35' 20.028" W</figcaption>
		</div>
	</div>