<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>MDZ</h1>
		<figcaption>Mendoza, Argentina</br>2023</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
			{% _image "mdz-utility-1.jpg", "black and white image of a utility cover" %}
			<figcaption>MDZ · 32° 53' 19.332" S · 68° 51' 0.018" W</figcaption>
	</div>
    <div class="col">
			{% _image "mdz-utility-2.jpg", "black and white image of a utility cover" %}
			<figcaption>MDZ · 32° 53' 19.332" S · 68° 51' 0.24" W</figcaption>
    </div>
</div>
<div class="row">
	<div class="col">
			{% _image "mdz-utility-3.jpg", "black and white image of a utility cover" %}
			<figcaption>MDZ · 32° 53' 34.092" S · 68° 51' 58.518" W</figcaption>
			</br></br>
			{% _image "mdz-utility-4.jpg", "black and white image of a utility cover" %}
			<figcaption>MDZ · 32° 53' 19.728" S · 68° 51' 42.072" W</figcaption>
			</br></br>
			{% _image "mdz-utility-5.jpg", "black and white image of a utility cover" %}
			<figcaption>MDZ · 32° 53' 35.712" S · 68° 50' 59.748" W</figcaption>
	</div>
	<div class="col">
			{% _image "mdz-utility-6.jpg", "black and white image of a utility cover" %}
			<figcaption>MDZ · 32° 53' 32.052" S · 68° 50' 57.552" W</figcaption>
			</br></br>
			{% _image "mdz-utility-7.jpg", "black and white image of a utility cover" %}
			<figcaption>MDZ · 32° 53' 32.1" S · 68° 50' 57.522" W</figcaption>
			</br></br>
			{% _image "mdz-utility-8.jpg", "black and white image of a utility cover" %}
			<figcaption>MDZ · 32° 53' 13.458" S · 68° 50' 57.882" W</figcaption>
			</br></br>
	</div>
	<div class="col">
			{% _image "mdz-utility-9.jpg", "black and white image of a utility cover" %}
			<figcaption>MDZ · 32° 53' 26.1" S · 68° 51' 4.548" W</figcaption>
			</br></br>
			{% _image "mdz-utility-10.jpg", "black and white image of a utility cover" %}
			<figcaption>MDZ · 32° 53' 24.57" S · 68° 51' 15.348" W</figcaption>
			</br></br>
			{% _image "mdz-utility-11.jpg", "black and white image of a utility cover" %}
			<figcaption>MDZ · 32° 53' 26.7" S · 68° 50' 42.39" W</figcaption>
			</br></br>
	</div>
</div>
