<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>MUC</h1>
		<figcaption>Munich, Germany</br>2021</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
	</div>
    <div class="col">
			{% _image "muc-1.jpg", "black and white image of a utility cover" %}
			<figcaption>MUC · 48° 8' 12.42" N · 11° 34' 24.822" E</figcaption>
    </div>
</div>
