<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>MVD</h1>
		<figcaption>Montevideo, Uruguay</br>2023</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
			{% _image "mvd-utility-1.jpg", "black and white image of a utility cover" %}
			<figcaption>MVD · 34° 54' 33.42" S · 56° 12' 27.192" W</figcaption>
	</div>
    <div class="col">
			{% _image "mvd-utility-2.jpg", "black and white image of a utility cover" %}
			<figcaption>MVD · 34° 54' 19.68" S · 56° 11' 50.658" W</figcaption>
    </div>
</div>
	<div class="row">
		<div class="col">
			{% _image "mvd-utility-3.jpg", "black and white image of a utility cover" %}
			<figcaption>MVD · 34° 54' 19.62" S · 56° 11' 50.748" W</figcaption>
			</br></br>
			{% _image "mvd-utility-4.jpg", "black and white image of a utility cover" %}
			<figcaption>MVD · 34° 54' 11.202" S · 56° 11' 34.398" W</figcaption>
			</br></br>
			{% _image "mvd-utility-5.jpg", "black and white image of a utility cover" %}
			<figcaption>MVD · 34° 53' 39.27" S · 56° 11' 18.672" W</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "mvd-utility-6.jpg", "black and white image of a utility cover" %}
			<figcaption>MVD · 34° 53' 39.852" S · 56° 10' 51.492" W</figcaption>
			</br></br>
			{% _image "mvd-utility-7.jpg", "black and white image of a utility cover" %}
			<figcaption>MVD · 34° 54' 1.722" S · 56° 10' 26.412" W</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "mvd-utility-8.jpg", "black and white image of a utility cover" %}
			<figcaption>MVD · 34° 54' 23.718" S · 56° 12' 4.452" W</figcaption>
			</br></br>
			{% _image "mvd-utility-9.jpg", "black and white image of a utility cover" %}
			<figcaption>MVD · 34° 54' 22.452" S · 56° 11' 53.148" W</figcaption>
			</br></br>
		</div>
	</div>