<div class="row"></div>
	<div class="row">
		<div class="col">
            <h1>NCE</h1>
			<figcaption>Nice and Côte d'Azur, France</br>2022</br></br><a href="#top">▲</a></figcaption>
        </div>
        <div class="col">
			{% _image "nice-1.jpg", "black and white image of a utility cover" %}
			<figcaption>NCE | Nice · 43° 42' 12.498" N · 7° 15' 16.542" E</figcaption>
		</div>
        <div class="col">
        	{% _image "nice-11.jpg", "black and white image of a utility cover" %}
			<figcaption>NCE | Nice · 43° 41' 45.288" N · 7° 16' 34.26" E</figcaption>
        </div>
	</div>
	<div class="row">
		<div class="col">
			{% _image "nice-2.jpg", "black and white image of a utility cover" %}
			<figcaption>NCE | Nice · 43° 41' 48.228" N · 7° 16' 35.25" E</figcaption>
			</br></br>
			{% _image "nice-3.jpg", "black and white image of a utility cover" %}
			<figcaption>NCE | Nice · 43° 41' 50.772" N · 7° 15' 53.538" E</figcaption>
			</br></br>
			{% _image "nice-4.jpg", "black and white image of a utility cover" %}
			<figcaption>NCE | Nice · 43° 41' 44.91" N · 7° 16' 33.588" E</figcaption>
			</br></br>
			{% _image "nice-villefranche-1.jpg", "black and white image of a utility cover" %}
			<figcaption>NCE | Ville-Franche-sur-Mer · 43° 41' 55.218" N · 7° 18' 24.522" E</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "nice-5.jpg", "black and white image of a utility cover" %}
			<figcaption>NCE | Nice · 43° 41' 46.59" N · 7° 15' 57.948" E</figcaption>
			</br></br>
			{% _image "nice-6.jpg", "black and white image of a utility cover" %}
			<figcaption>NCE | Nice · 43° 43' 13.578" N · 7° 16' 36.51" E</figcaption>
			</br></br>
			{% _image "nice-10.jpg", "black and white image of a utility cover" %}
			<figcaption>NCE | Nice · 43° 41' 48.408" N · 7° 16' 34.998" E</figcaption>
			</br></br>
			{% _image "nice-villefranche-2.jpg", "black and white image of a utility cover" %}
			<figcaption>NCE | Ville-Franche-sur-Mer · 43° 42' 13.35" N · 7° 18' 41.07" E</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "nice-7.jpg", "black and white image of a utility cover" %}
			<figcaption>NCE | Nice · 43° 41' 45.318" N · 7° 15' 36.912" E</figcaption>
			</br></br>
			{% _image "nice-8.jpg", "black and white image of a utility cover" %}
			<figcaption>NCE | Nice · 43° 43' 13.668" N · 7° 16' 36.42" E</figcaption>
			</br></br>
			{% _image "nice-9.jpg", "black and white image of a utility cover" %}
			<figcaption>NCE | Nice · 43° 41' 47.82" N · 7° 15' 51.822" E</figcaption>
			</br></br>
			{% _image "nice-stjean-1.jpg", "black and white image of a utility cover" %}
			<figcaption>NCE | Saint-Jean-Cap-Ferrat · 43° 41' 19.092" N · 7° 20' 5.058" E</figcaption>
			</br></br>
		</div>
	</div>