<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>ORD</h1>
		<figcaption>Chicago, Illinois</br>2016</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
			{% _image "ord-1.jpg", "black and white image of a utility cover" %}
			<figcaption>ORD · 41° 51' 9.762" N · 87° 37' 35.112" W</figcaption>
	</div>
    <div class="col">
    		{% _image "ord-2.jpg", "black and white image of a utility cover" %}
			<figcaption>ORD · 41° 51' 6.27" N · 87° 37' 20.742" W</figcaption>
    </div>
</div>
	<div class="row">
		<div class="col">
			{% _image "ord-3.jpg", "black and white image of a utility cover" %}
			<figcaption>ORD · 41° 51' 5.862" N · 87° 37' 20.028" W</figcaption> 	
		</div>
		<div class="col">
			{% _image "ord-4.jpg", "black and white image of a utility cover" %}
			<figcaption>ORD · 41° 53' 2.67" N · 87° 37' 21.618" W</figcaption> 	
		</div>
		<div class="col">
		</div>
	</div>