<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>PDX</h1>
		<figcaption>Portland, Oregon</br>2024</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
			{% _image "pdx-3.jpg", "black and white image of a utility cover" %}
			<figcaption>PDX · 45° 31' 7.41" N · 122° 40' 31.27" W</figcaption> 	
	</div>
    <div class="col">
    		{% _image "pdx-2.jpg", "black and white image of a utility cover" %}
			<figcaption>PDX · 45° 31' 25.542" N · 122° 40' 51.132" W</figcaption>
    </div>
</div>
	<div class="row">
		<div class="col">
			{% _image "pdx-1.jpg", "black and white image of a utility cover" %}
			<figcaption>PDX · 45° 31' 32.38" N · 122° 40' 35.40" W</figcaption>
		</div>
		<div class="col">
		</div>
		<div class="col">
		</div>
	</div>