<div class="row"></div>
	<div class="row">
		<div class="col">
            <h1>PRG</h1>
			<figcaption>Prague, Czechia</br>2018</br></br><a href="#top">▲</a></figcaption>
        </div>
        <div class="col">
			{% _image "PRG-1.jpg", "black and white image of a utility cover" %}
			<figcaption>PRG · 50° 5' 15.58" N · 14° 25' 14.01" E</figcaption>
		</div>
        <div class="col">
        	{% _image "PRG-2.jpg", "black and white image of a utility cover" %}
			<figcaption>PRG · 50° 5' 14.18" N · 14° 24' 24.192" E</figcaption>
        </div>
	</div>
	<div class="row">
		<div class="col">
			{% _image "PRG-9.jpg", "black and white image of a utility cover" %}
			<figcaption>PRG · 50° 5' 17.02" N · 14° 25' 25.728" E</figcaption>
			</br></br>
			{% _image "PRG-3.jpg", "black and white image of a utility cover" %}
			<figcaption>PRG · 50° 5' 31.5" N · 14° 24' 16.308" E</figcaption>
			</br></br>
			{% _image "PRG-4.jpg", "black and white image of a utility cover" %}
			<figcaption>PRG · 50° 5' 30.1" N · 14° 24' 20.298" E</figcaption>
		</div>
		<div class="col">
			{% _image "PRG-5.jpg", "black and white image of a utility cover" %}
			<figcaption>PRG · 50° 5' 56.77" N · 14° 25' 29.172" E</figcaption>
			</br></br>
			{% _image "PRG-6.jpg", "black and white image of a utility cover" %}
			<figcaption>PRG · 50° 5' 19.98" N · 14° 25' 48.012" E</figcaption>
			</br></br>
			{% _image "PRG-10.jpg", "black and white image of a utility cover" %}
			<figcaption>PRG · 50° 6' 24.27" N · 14° 26' 48.162" E</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "PRG-7.jpg", "black and white image of a utility cover" %}
			<figcaption>PRG 50° 5' 19.37" N · 14° 25' 47.022" E</figcaption>
			</br></br>
			{% _image "PRG-8.jpg", "black and white image of a utility cover" %}
			<figcaption>PRG · 50° 5' 24.25" N · 14° 25' 15.36" E</figcaption>
			</br></br>
		</div>
	</div>