<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>SCL</h1>
		<figcaption>Santiago de Chile</br>2023</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
		{% _image "scl-1.jpg", "black and white image of a utility cover" %}
		<figcaption>SCL · 33° 26' 17.58" S · 70° 38' 25.95" W</figcaption>
	</div>
    <div class="col">
    	{% _image "scl-2.jpg", "black and white image of a utility cover" %}
		<figcaption>SCL · 33° 26' 21.96" S · 70° 38' 26.442" W</figcaption>
	</div>
</div>
<div class="row">
		<div class="col">
			{% _image "scl-3.jpg", "black and white image of a utility cover" %}
			<figcaption>SCL · 33° 26' 15.762" S · 70° 38' 36.66" W</figcaption>
			</br></br>
			{% _image "scl-4.jpg", "black and white image of a utility cover" %}
			<figcaption>SCL · 33° 26' 19.878" S · 70° 39' 3.798" W</figcaption>
		</div>
		<div class="col">
			{% _image "scl-5.jpg", "black and white image of a utility cover" %}
			<figcaption>SCL · 33° 26' 22.62" S · 70° 39' 13.38" W</figcaption>
			</br></br>
			{% _image "scl-6.jpg", "black and white image of a utility cover" %}
			<figcaption>SCL · 33° 26' 35.298" S · 70° 39' 6.24" W</figcaption>
		</div>
		<div class="col">
			{% _image "scl-7.jpg", "black and white image of a utility cover" %}
			<figcaption>SCL · 33° 26' 15.258" S · 70° 38' 35.862" W</figcaption>
			</br></br>
			{% _image "scl-8.jpg", "black and white image of a utility cover" %}
			<figcaption>SCL · 33° 26' 5.322" S · 70° 38' 34.818" W</figcaption>
		</div>
	</div>