<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>SDF</h1>
		<figcaption>Louisville, Kentucky</br>2016</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
			{% _image "sdf-3.jpg", "black and white image of a utility cover" %}
			<figcaption>SDF · 38° 15' 6.168" N · 85° 45' 25.272" W</figcaption> 	
	</div>
    <div class="col">
    		{% _image "sdf-2.jpg", "black and white image of a utility cover" %}
			<figcaption>SDF · 38° 15' 9.642" N · 85° 45' 25.518" W</figcaption>
    </div>
</div>
	<div class="row">
		<div class="col">
			{% _image "sdf-1.jpg", "black and white image of a utility cover" %}
			<figcaption>SDF · 38° 14' 54.852" N · 85° 45' 28.32" W</figcaption>
		</div>
		<div class="col">
		</div>
		<div class="col">
		</div>
	</div>