<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>SLA</h1>
		<figcaption>Salta and Humahuaca, Argentina</br>2023</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
			{% _image "sla-utility-1.jpg", "black and white image of a utility cover" %}
			<figcaption>SLA | Salta · 24° 47' 15.408" S · 65° 24' 43.428" W</figcaption>
	</div>
    <div class="col">
			{% _image "sla-utility-2.jpg", "black and white image of a utility cover" %}
			<figcaption>SLA | Humahuaca · 23° 12' 16.17" S · 65° 20' 55.548" W</figcaption>
    </div>
</div>
