<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>SVL</h1>
		<figcaption>Savonlinna, Finland</br>2022</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
			{% _image "SVL-1.jpg", "black and white image of a utility cover" %}
			<figcaption>SVL · 61° 52' 36.108" N · 28° 52' 23.838" E</figcaption>
	</div>
    <div class="col">
			{% _image "SVL-2.jpg", "black and white image of a utility cover" %}
			<figcaption>SVL · 61° 51' 52.698" N · 24° 56' 50.58" E</figcaption>
    </div>
</div>
	<div class="row">
		<div class="col">
			{% _image "SVL-3.jpg", "black and white image of a utility cover" %}
			<figcaption>SVL · 61° 52' 12.108" N · 28° 52' 46.23" E</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "SVL-4.jpg", "black and white image of a utility cover" %}
			<figcaption>SVL · 61° 51' 58.992" N · 28° 53' 13.788" E</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "SVL-5.jpg", "black and white image of a utility cover" %}
			<figcaption>SVL · 61° 52' 12.012" N · 28° 52' 48.762" E</figcaption>
			</br></br>
		</div>
	</div>