<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>TLL</h1>
		<figcaption>Tallinn, Estonia</br>2022</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
			{% _image "TLL-1.jpg", "black and white image of a utility cover" %}
			<figcaption>TLL · 59° 26' 27.918" N · 24° 44' 53.73" E</figcaption>
	</div>
    <div class="col">
			{% _image "TLL-2.jpg", "black and white image of a utility cover" %}
			<figcaption>TLL · 59° 26' 24.42" N · 24° 44' 50.982" E</figcaption>
    </div>
</div>
	<div class="row">
		<div class="col">
			{% _image "TLL-3.jpg", "black and white image of a utility cover" %}
			<figcaption>TLL · 59° 26' 18.792" N · 24° 44' 45.09" E</figcaption>
			</br></br>
			{% _image "TLL-4.jpg", "black and white image of a utility cover" %}
			<figcaption>TLL · 59° 26' 17.4" N · 24° 44' 43.62" E</figcaption>
			</br></br>
			{% _image "TLL-5.jpg", "black and white image of a utility cover" %}
			<figcaption>TLL · 59° 26' 16.128" N · 24° 44' 36.612" E</figcaption>
			</br></br>
			{% _image "TLL-6.jpg", "black and white image of a utility cover" %}
			<figcaption>TLL · 59° 26' 16.068" N · 24° 44' 34.962" E</figcaption>
			</br></br>
			{% _image "TLL-7.jpg", "black and white image of a utility cover" %}
			<figcaption>TLL · 59° 26' 12.462" N · 24° 44' 31.212" E</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "TLL-8.jpg", "black and white image of a utility cover" %}
			<figcaption>TLL · 59° 26' 9.738" N · 24° 44' 23.448" E</figcaption>
			</br></br>
			{% _image "TLL-9.jpg", "black and white image of a utility cover" %}
			<figcaption>TLL · 59° 26' 9.33" N · 24° 44' 24.42" E</figcaption>
			</br></br>
			{% _image "TLL-10.jpg", "black and white image of a utility cover" %}
			<figcaption>TLL · 59° 26' 11.07" N · 24° 44' 19.032" E</figcaption>
			</br></br>
			{% _image "TLL-11.jpg", "black and white image of a utility cover" %}
			<figcaption>TLL · 59° 26' 8.742" N · 24° 44' 32.97" E</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "TLL-12.jpg", "black and white image of a utility cover" %}
			<figcaption>TLL · 59° 26' 10.008" N · 24° 44' 33.858" E</figcaption>
			</br></br>
			{% _image "TLL-13.jpg", "black and white image of a utility cover" %}
			<figcaption>TLL · 59° 26' 10.56" N · 24° 44' 33.102" E</figcaption>
			</br></br>
			{% _image "TLL-14.jpg", "black and white image of a utility cover" %}
			<figcaption>TLL · 59° 26' 10.77" N · 24° 44' 31.572" E</figcaption>
			</br></br>
			{% _image "TLL-15.jpg", "black and white image of a utility cover" %}
			<figcaption>TLL · 59° 26' 14.682" N · 24° 44' 43.902" E</figcaption>
			</br></br>
		</div>
	</div>