<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>VAP</h1>
		<figcaption>Valparaiso, Chile</br>2023</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
		{% _image "valpo-1.jpg", "black and white image of a utility cover" %}
		<figcaption>VAP · 33° 2' 28.58" S · 71° 37' 37.308" W</figcaption>
	</div>
    <div class="col">
    	{% _image "valpo-2.jpg", "black and white image of a utility cover" %}
		<figcaption>VAP · 33° 2' 29.47" S · 71° 37' 36.21" W</figcaption>
    </div>
</div>
	<div class="row">
		<div class="col">
			{% _image "valpo-3.jpg", "black and white image of a utility cover" %}
			<figcaption>VAP · 33° 2' 26.6" S · 71° 37' 40.032" W</figcaption>
			</br></br>
			{% _image "valpo-4.jpg", "black and white image of a utility cover" %}
			<figcaption>VAP · 33° 2' 55.27" S · 71° 37' 27.528" W</figcaption>
		</div>
		<div class="col">
			{% _image "valpo-5.jpg", "black and white image of a utility cover" %}
			<figcaption>VAP · 33° 3' 14.54" S · 71° 37' 21.048" W</figcaption>
			</br></br>
			{% _image "valpo-6.jpg", "black and white image of a utility cover" %}
			<figcaption>VAP · 33° 2' 35.69" S · 71° 37' 38.13" W</figcaption>
		</div>
		<div class="col">
			{% _image "valpo-7.jpg", "black and white image of a utility cover" %}
			<figcaption>VAP · 33° 2' 33.33" S · 71° 37' 46.512" W</figcaption>
			</br></br>
			{% _image "valpo-8.jpg", "black and white image of a utility cover" %}
			<figcaption>VAP · 33° 2' 34.5" S · 71° 37' 45.132" W</figcaption>
		</div>
	</div>