<div class="row"></div>
<div class="row">
	<div class="col">
		<h1>ZAZ</h1>
		<figcaption>Zaragoza, Spain</br>2019</br></br><a href="#top">▲</a></figcaption>
	</div>
	<div class="col">
		{% _image "zga_1.jpeg", "black and white image of a utility cover" %}
		<figcaption>ZAZ · 41° 39' 9.552" N · 0° 52' 59.262" W</figcaption>
		</br></br>
	</div>
    <div class="col">
		{% _image "zga_2.jpeg", "black and white image of a utility cover" %}
		<figcaption>ZAZ · 41° 39' 20.982" N · 0° 52' 45.45" W</figcaption>
    </div>
</div>
	<div class="row">
		<div class="col">
			{% _image "zga_3.jpeg", "black and white image of a utility cover" %}
			<figcaption>ZAZ · 41° 39' 18.96" N · 0° 52' 32.682" W</figcaption>
			</br></br>
			{% _image "zga_4.jpeg", "black and white image of a utility cover" %}
			<figcaption>ZAZ · 41° 39' 29.67" N · 0° 53' 11.208" W</figcaption>
			</br></br>
			{% _image "zga_5.jpeg", "black and white image of a utility cover" %}
			<figcaption>ZAZ · 41° 39' 25.05" N · 0° 53' 22.398" W</figcaption>
			</br></br>
			{% _image "zga_6.jpeg", "black and white image of a utility cover" %}
			<figcaption>ZAZ · 41° 39' 26.262" N · 0° 53' 29.328" W</figcaption>
			</br></br>
			{% _image "zga_7.jpeg", "black and white image of a utility cover" %}
			<figcaption>ZAZ · 41° 39' 23.64" N · 0° 53' 37.47" W</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "zga_8.jpeg", "black and white image of a utility cover" %}
			<figcaption>ZAZ · 41° 39' 23.058" N · 0° 53' 37.35" W</figcaption>
			</br></br>
			{% _image "zga_9.jpeg", "black and white image of a utility cover" %}
			<figcaption>ZAZ · 41° 39' 21.942" N · 0° 53' 4.482" W</figcaption>
			</br></br>
			{% _image "zga_10.jpeg", "black and white image of a utility cover" %}
			<figcaption>ZAZ · 41° 39' 19.95" N · 0° 52' 40.902" W</figcaption>
			</br></br>
			{% _image "zga_11.jpeg", "black and white image of a utility cover" %}
			<figcaption>ZAZ · 41° 39' 9.672" N · 0° 52' 38.718" W</figcaption>
			</br></br>
			{% _image "zga_12.jpeg", "black and white image of a utility cover" %}
			<figcaption>ZAZ · 41° 38' 54.858" N · 0° 53' 11.712" W</figcaption>
			</br></br>
		</div>
		<div class="col">
			{% _image "zga_13.jpeg", "black and white image of a utility cover" %}
			<figcaption>ZAZ · 41° 38' 57.42" N · 0° 53' 13.398" W</figcaption>
			</br></br>
			{% _image "zga_14.jpeg", "black and white image of a utility cover" %}
			<figcaption>ZAZ · 41° 39' 7.638" N · 0° 53' 31.722" W</figcaption>
			</br></br>
			{% _image "zga_15.jpeg", "black and white image of a utility cover" %}
			<figcaption>ZAZ · 41° 39' 3.492" N · 0° 53' 9.492" W</figcaption>
			</br></br>
			{% _image "zga_16.jpeg", "black and white image of a utility cover" %}
			<figcaption>ZAZ · 41° 39' 3.468" N · 0° 53' 9.492" W</figcaption>
			</br></br>
			{% _image "zga_18.jpeg", "black and white image of a utility cover" %}
			<figcaption>ZAZ · 41° 39' 11.28" N · 0° 52' 51.258" W</figcaption>
			</br></br>
		</div>
	</div>
