<div class="row"></div>
<div class="row">
	<div class="col">
		<h1 id="ZGZ">ZGZ</h1>
		<figcaption>Zaragoza, Spain</br>2019</figcaption>
	</div>
	<div class="col">
		{% _image "zga_2.jpeg", "black and white image of a utility cover" %}
		<figcaption></figcaption>
	</div>
    <div class="col">
        {% _image "zga_9.jpeg", "black and white image of a utility cover" %}
		<figcaption></figcaption>
    </div>
</div>
	<div class="row">
		<div class="col">
			{% _image "zga_1.jpeg", "black and white image of a utility cover" %}
			<figcaption></figcaption>
			</br></br>
			{% _image "zga_3.jpeg", "black and white image of a utility cover" %}
			<figcaption></figcaption>
			</br></br>
			{% _image "zga_4.jpeg", "black and white image of a utility cover" %}
			<figcaption></figcaption>
		</div>
		<div class="col">
			{% _image "zga_5.jpeg", "black and white image of a utility cover" %}
			<figcaption></figcaption>
			</br></br>
			{% _image "zga_6.jpeg", "black and white image of a utility cover" %}
			<figcaption></figcaption>
			</br></br>
			{% _image "zga_10.jpeg", "black and white image of a utility cover" %}
			<figcaption></figcaption>
		</div>
		<div class="col">
			{% _image "zga_7.jpeg", "black and white image of a utility cover" %}
			<figcaption></figcaption>
			</br></br>
			{% _image "zga_8.jpeg", "black and white image of a utility cover" %}
			<figcaption></figcaption>
			</br></br>
		</div>
	</div>
