<div class="row">
    <div class="col">
        <h3>Exhibition Design</h3>
        <p>Exhibition layouts and didactic materials. 
    </div>        
    <div class="col">
        {% _image "bhm_rev_1.jpg", "image of a exhibition layout" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        {% _image "art_enviro_1.jpg", "image of a exhibition title graphic" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        {% _image "travel_1.jpg", "image of a exhibition title graphic" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        {% _image "handheld_ex_1.png", "image of a exhibition title graphic" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col">
        {% _image "darshan_ex_1.jpg", "image of a exhibition title graphic" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        {% _image "voices_1.jpg", "gdiagram of an exhibition layout" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        {% _image "moundbuilders_1.jpg", "image of a exhibition layout" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        {% _image "cl_ex_1.jpg", "image of a exhibition title graphic" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col">
        {% _image "smartlab_0.jpg", "image of a exhibition title graphic" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        {% _image "jacob_0.jpg", "image of a exhibition title graphic" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        {% _image "redline_0.jpg", "image of a exhibition title graphic" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        {% _image "line_1.png", "image of a exhibition title graphic" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col">
        {% _image "third_space_0.jpg", "image of a exhibition title graphic" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
            <a href=/design/exhibitions/2015_ex_fleming> {% _image "fleming_ex3.jpg", "image of a brochure cover" %}</a>
    </div>
    <div class="col">
        {% _image "small_treasures_ex_3.jpg", "image of a exhibition" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
        <a href=/design/exhibitions/2014_ex_puxley> {% _image "puxley_ex_1.jpg", "image of a brochure cover" %}</a>
    </div>
</div>