  <div class="row">
    <div class="col">
      <h3>Campaigns</h3>
      <p>Ad campaigns with a hook. Multiple pieces across media. Posters, handbills, and outdoor. Some combination of these things.<p>
    </div>
    <div class="col">
      <a href=/design/posters/2017_third_space_chapters>{% _image "third_space_chapters_1.jpg", "thumbnail image of a detail from an illustration of a figure with fist raised against a repeated pattern of raised arm" %}</a>
    </div>
    <div class="col">
      {% _image "small_treasures_1.jpg", "Poster for an exhibition of small dutch paintings" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
      <a href=/design/posters/2014_delacroix> {% _image "delacroix_0.jpg", "delacroix exhibition poster" %}</a>
    </div>
    <div class="col">
      {% _image "rockwell_2.jpg", "poster for an art exhibition" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col">
      <a href=/design/posters/2011_who_shot_rock> {% _image "wsr_1.jpg", "rock and roll photography exhibition poster" %}</a>
    </div>
    <div class="col">
      {% _image "lol_ad_1.jpg", "poster for an exhibition of eye miniatures" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
    <div class="col">
      {% _image "llph_18.jpg", "poster for an exhibition of american art" %}
        <figcaption>[ coming soon ]</figcaption>
    </div>
  <div class="col"></div>
</div>